[2016-02-28 22:49] jgostick opened #1 "Change chord length distribution"
Adjust CLD to show 'fraction larger than given size' (after Kaye)

[2017-09-01 16:58] TomTranter opened #8 "Messed Up PR"
Hey @jgostick ,

I forgot to make my changes on a new branch, but created a new one when pushing from source tree and it seemed to update master too. I reversed the commit to master but now the PR from the new branch doesn't seem to work - it wants to reverse the commit for some reason.
Hopefully you can sort out my mess :-)

Guess we could just reverse the reversal and delete the branch

[2017-09-07 01:54] jgostick commented on #8
fixed

[2017-09-07 01:54] #8 closed

[2017-09-28 15:14] jgostick opened #13 "Add Tests...lots of tests!"
I added Codecov last night and less than 50% of the code is tested....we can surely get this to 100% given the narrow focus of the code base.

Here is how to add a test:
* There are files in the `test/unit` folder for each module.  To add a test you just add a new function to the file that follows the same naming convention as the existing tests.
*All function names start with `test` followed by t

[2017-10-04 20:18] TomTranter commented on #13
I've had a good go at this and scooped up all the low hanging fruit. :)

[2017-10-13 19:40] RodericDay commented on #13
The slowest test by far is RandomWalk's doctest. Do you intend for the doctests to be run alongside the unit test suite by default?

[2017-10-13 20:55] TomTranter commented on #13
Yes that would be the intention but you're right it is a bit slow and probably covers the same code as the unit tests but serves as a reminder of how to use the function.

[2017-10-16 06:19] jgostick commented on #13
yes, we're running doc tests, mostly to make sure the examples in teh docs
aren't broken

On Fri, Oct 13, 2017 at 4:55 PM, Tom Tranter <notifications@github.com>
wrote:

[2017-10-17 17:45] jgostick opened #18 "fix readthedocs build"
Readthedocs is not working.  It needs to be setup so that certain modules can be installed during build, specifically numpydoc.  This requires enabling virtualenv in the admin section, but this this means that all the requirements of PoreSpy need to be installed into the virtualenv as well.  This requires specifying a conda requirements file, which is where things go off the rails.

The solution r

[2017-10-23 03:25] RodericDay commented on #18
Checking this out.

[2017-10-23 03:42] RodericDay commented on #18
Hmmm... I got my repo to generate 1.4MB of docs, in 62 files. No errors. I opened it on Firefox and browsed around a bit, and everything seems to work?

I'm not sure if I'm missing part of it?

I did not require the addition a `readthedocs.yml` file. I simply:

1) Created a `venv`
2) Installed all the requirements from all the `*_requirements.txt` files
3) Installed Sphinx, which was not listed as

[2017-10-23 03:55] RodericDay commented on #18
According to the readthedocs site, generating the _build directory full of HTML files is only half the battle. However, the other half seems to be uploading them to their website, using the username and password associated with your account and so on.

The aforementioned `.yml` file seems like it'd automate things like having to call both `make html` or `make epub`.

All of this to say, I'm not su

[2017-10-23 14:25] jgostick commented on #18
Hey Harold
The point is to get readthedocs to build it automatically.  The docs are [here](http://porespy.readthedocs.io/en/latest/).  I think they're working now.

[2017-10-23 14:33] jgostick commented on #18
OK, here's the status...when built locally, all the sphinx directives work and it pulls the docstrings and makes nice module indexes, etc...but when readthedocs builds these things do no work.

[2017-10-23 21:04] RodericDay commented on #18
Hmm. I registered an account on readthedocs.io, hooked my repo, and created these: http://porespy-fork.readthedocs.io/en/latest/

I didn't add any yaml file, but I did put all your requirement files in a subdirectory and added a root requirements.txt to reference them.

[2017-10-23 21:07] RodericDay commented on #18
Let me know if this doesn't do the trick. I didn't do anything else, my readthedocs.io configs were the basic defaults.

[2017-10-23 21:15] RodericDay commented on #18
To be clear, I do not use the virtualenv at all. All the fields in that section are unchanged from defaults, except the one to point to my issue branch.

[2017-10-24 00:42] #18 closed

[2017-10-30 17:14] TomTranter opened #20 "Percolating Cluster Function"
Useful to have. I'm happy to add it. Where should it go, filters or metrics?

[2017-10-30 17:32] jgostick commented on #20
Depends what it returns...an image of the percolating cluster (then a filter) and some stats about it (the a metric).  In fact, we typically add a filter, then a metric that accepts the filtered image an input.

Not sure what the intention of this is.  There is already a find_disconnected_voxel, fill_blind_pores, and trim_floating_solid, which will basically do this.  Also, if you go ahead, there

[2018-02-12 13:27] ma-sadeghi opened #26 "SNOW algorithm returns network with a different shape than the original 3d image."
When I pass a (1, 500, 500) 3d image to SNOW, it returns a network with z-values = 0. Rather, I expected that it would return a network with x-values = 0.

[2018-02-12 13:43] jgostick commented on #26
You need to set z to 0...this is hard coded into the code....even scipy.ndimage assumes the first dim is not flat.

[2018-02-12 16:12] ma-sadeghi commented on #26
I see, but this makes it impossible to overlay the two networks in Paraview since the two are in different planes. The workaround would be to remap `pore.coords` of either of the two networks.

[2018-02-12 18:11] jgostick commented on #26
There is a method network_extraction called 'align_with_openpnm' to solve this temporarily

[2018-02-13 15:28] jgostick commented on #26
Are you saying that setting the first axis to 1 will make all these things line up properly? ! It's been super annoying trying to deal with this.

[2018-02-13 16:39] ma-sadeghi commented on #26
No, still the image needs to be rotated. They are two different issues. One is with regards to the rotation, and the other one is about coplanarity. When you pass a 3d image in the yz plane, the extracted network is still on the xy plane, which makes it impossible to overlay in Paraview.

[2018-02-13 16:45] jgostick commented on #26
It's definitely not impossible...I've done it many times.  You need to flip and rotate the image just the right way.  I thought that the align_with_openpnm function did this for 2d and 3d images...no?

[2018-02-13 16:49] ma-sadeghi commented on #26
Yes, it's doable, I meant if you load the two networks without modifying, they're in two different planes. `align_with_openpnm` works fine I guess.

[2018-03-08 17:07] ma-sadeghi opened #27 "numba should be included in requirements.txt."

[2018-03-14 18:12] TomTranter opened #28 "Boundary pores on extracted network"
This issue has come up for both @Zohaib-Atiq  and myself. I was talking with @jgostick yesterday about it and we figured the network extraction could apply boundary pores rather than doing it in OpenPNM as find_surface_pores doesn't seem to give satisfactory results when pores are not planar. Attached is a script that does it. I also had to change a line in the porespy code to ignore pores that ar

[2018-03-14 18:15] TomTranter commented on #28
I guess it would also be useful to pick the faces too as my problem involves extracting a circular network from tomography

[2018-04-09 19:08] jgostick opened #29 "Make a 3D version of regions_props"
Scikit-image has a region_props, and a small selection of the props are applicable or adapted to 3d, but most are not.  This might actually be the most useful thing we could add to PoreSpy!  Stuff like orientation, largest inscribed ellipse, etc

[2018-05-07 01:20] jgostick opened #31 "Should probably change tools to utils, for consistency with most other packages"

[2018-06-04 18:33] jgostick opened #32 "Add a readthedoc badge to the readme file"

[2018-06-05 14:44] #13 closed

[2018-06-21 15:38] jgostick commented on #29
the new scikits-image (0.14) has added tons of this sort of functionality.  I have dramatically pruned the PR (#30) that I started.

[2018-06-21 15:38] #26 closed

[2018-06-21 15:41] jgostick opened #33 "it would be handy to have a slices function"
This would return three images taken from the middle of each axis, so for a 100 cubed image, `slices[0]` would be `im[50, :, :]`, `slices[1] = im[:, 50, :]` and slices[2] = im[:, :, 50]`.  This is very trivial but very handy since you wouldn't have to hard code it into scripts any more, thus would be flexible for image size and shape.

[2018-07-04 20:31] Zohaib-Atiq opened #34 "SNOW and get net should be merged together"

[2018-07-04 20:34] Zohaib-Atiq opened #35 "is:issue is:getnet modifications after addition of marching cube algorithm"
Now we have two surface area and two throat area. Do we need to keep them both?

[2018-07-20 01:40] jgostick opened #37 "Calculate fractal properties"
It's relatively easy to calculate the fractal dimension of an image.  Just count the number of 1's and 0's in boxes of different size.  This could be done with a convolution filter in about 3 lines!

There is also lacunarity and succolarity.  These latter two are similar to fractal, but done on different versions of the base image.

[2018-08-14 13:48] jgostick opened #38 "Use fft_convolve in porosimetry"
instead of distance transforms on each size, do the fft_convolve function to 'open' the core.  This is much faster.

[2018-08-14 13:49] jgostick opened #39 "Remove local thickess...maybe leave as a wrapper function"
No need to have separate code in the local thickness function

[2018-08-14 13:50] jgostick opened #40 "Add interfacial area esitmate to region_props_3D"

[2018-08-14 13:56] #33 closed

[2018-08-14 13:58] jgostick opened #41 "add combine_regions functions to tools"
this is related to finding surface area between to joined regions, so will be called by the new region_props_3D

[2018-08-14 14:06] jgostick commented on #20
`find_percolating_voxels(im, faces=['x_lo', 'x_hi', 'y_lo'])`

[2018-08-14 14:09] #31 closed

[2018-08-14 14:15] jgostick commented on #1
Or, use Matt's approach from his thesis

[2018-08-14 14:16] jgostick opened #42 "Add RSA to generators"

[2018-08-14 14:35] jgostick opened #43 "remove binarization"
this is so image dependent and each case is different, there is no way to really generalize this

[2018-08-23 17:59] TomTranter opened #46 "Add conduit_lengths to SNOW output"
This is needed now to be able to give a network to openpnm and have it work 'out of the box' without having to add any geometry models.

[2018-08-27 14:53] gourrier opened #47 "Rounding issue in local_thickness"
Hi,
I recently bumped into porespy which has exactly the bunch of features I was looking for.

Q0: (added at the end): why use scipy for array manipulations where numpy would be the logical package to use ? Sure this adds another import, requirements etc, but it would definitely be cleaner.

This includes the local_thickness function (I don't understand why on earth you want to remove it from the

[2018-08-27 22:03] jgostick commented on #47
Hi Aurelien
Thanks for your comments!  I'll try to answer your questions:
(0) Scipy is a super set of numpy, so all array ops using scipy really just call numpy.  Scipy has the very important ndimage module, which we use extensively.  Our plan is to remove the code within the local thickness function, and have it call porosimetry behind the scenes.  This way we only have to maintain one version of

[2018-08-28 13:46] gourrier commented on #47
Thanks. I know about the scipy/numpy connectivity and I also use ndimage quite a bit, but it's probably the first time I see such heavy use of scipy for handling arrays this way (I generally see both imports and use of numpy for matrices). But this is just a lack of experience on my side... so don't worry about this part...

On the size idea, I understand better why you went for this option, now.

[2018-08-29 02:56] jgostick commented on #47
I just did a quick check with the following:
[code]

This works as you are looking for by specifying the exact sizes to use, BUT is does over 1000 loops!  There are just too many sizes, so we need some way to do it by bins.  The integer value of radius seems to make sense.  Note that all the convolution take a structuring element of given radius, so doing diameter doesn't really work.  The radius

[2018-09-07 21:46] jgostick opened #48 "Update regions_to_network function to handle 2D networks correctly"
We calculate things like equivalent diameter assuming spheres.  If the image is 2D, we should have an if statement to use circles instead.

[2018-09-08 01:54] jgostick commented on #47
Since this function works as we think it should, and @gourrier hasn't replied in a while, I'll assume the problems are all sorted and close this.

[2018-09-08 01:54] #47 closed

[2018-09-11 10:04] mdrkok commented on #1
I've made function called chord_length_distribution_helper that is really just a wrapper for the simplest version of cld's. It takes the binary image and returns three 1d arrays representing the weighted chord length distributions.

[2018-09-11 10:06] mdrkok commented on #1
I'd be happy to change it be more similar to the rest of the metrics module, accepting the output of filters as an input but i prefer the one stop shop...also not married to the name obviously

[2018-09-11 13:15] jgostick commented on #1
* What does it return?
* Maybe the ``metrics`` functions should accept an optional argument, like ``bin_im`` or ``imb`` that will do the filter using default args.  Actually, we could even pass all kwargs onto the filter, so you could technically control how the filter is run.

Also, can you push this and turn it into a PR?

[2018-09-11 13:28] jgostick opened #50 "Rename extend_slide to pad_slice"

[2018-09-11 14:20] jgostick opened #51 "change extend slice to return tuple"
Many warnings are being thrown by travis and I think this will solve many of them

[2018-09-12 19:55] #42 closed

[2018-09-12 19:56] #43 closed

[2018-09-12 19:56] #51 closed

[2018-09-14 16:45] jgostick opened #54 "add a helpers module?"
This would take a binary image and output some 'results', like chord length dist, or pore size hist, etc.  Totally just for convenience.

[2018-09-15 22:07] jgostick commented on #20
zohaib took care of this

[2018-09-15 22:07] #20 closed

[2018-09-15 22:07] #27 closed

[2018-09-15 22:07] #38 closed

[2018-09-15 22:07] #39 closed

[2018-09-15 22:08] jgostick commented on #54
or what about pipelines?

[2018-09-16 02:39] #40 closed

[2018-09-16 02:39] #28 closed

[2018-09-16 19:44] #29 closed

[2018-09-19 15:02] ma-sadeghi opened #56 "Add type annotation to the code"
Tom and I are working on making a PoreSpy plugin for Dragonfly and data types are a bit difficult to deal with in Qt. It would help a lot if methods were type-annotated. Native type annotation is supported in Python 3.5+, so that should not be a problem. Here's how they work:

[code]

The good thing is that type annotation doesn't break any code as it's not enforced and is only used as a hint.

[2018-09-19 23:10] jgostick commented on #56
go for it!  But we're in the middle reorganing for the JOSS thing, so let me merge the JOSS_reorg branch into dev, then you can branch from that

[2018-09-20 00:55] jgostick opened #57 "Making snow and snow_dual,consistent"
The 'snow' algorithm as originally published was basically a set of filtering steps that led to a proper watershed segmentation of the void space.  The actual step of extracting a network from the partitioned image was a separate step.

The new snow_dual (and eventually the snow_nphase) is designed such that you pass in a binary image and get a fully extracted network back....there are no intermed

[2018-09-22 02:32] jgostick opened #60 "rip out evtk"
The evtk code is nearly 25% of our code base!  This has to b ripped out as much as possible.  It is not tested at all and we don't really know how to maintain it.  Surely there is a better option by now for exporting to vtk?  This is high priority leading up to JOSS.

[2018-09-22 02:32] #57 closed

[2018-09-22 02:32] #34 closed

[2018-09-22 02:32] #1 closed

[2018-09-22 02:33] #32 closed

[2018-09-22 02:33] jgostick commented on #35
no, only the good one!

[2018-09-22 02:34] jgostick commented on #54
I don't think we need to clutter the code with this...this can be recipes we put in the examples repo

[2018-09-22 02:34] #54 closed

[2018-09-23 19:02] #60 closed

[2018-09-23 19:04] jgostick opened #61 "delete boundary_pores branch?"
@Zohaib-Atiq has implemented a way to add boundary regions to the image so that the extraction algorithms create boundary pores.  @TomTranter has a branch open that seems to do this also....I think you two both worked together on this, so I just want to confirm that the code on @TomTranter's branch is not needed and it can be deleted.

[2018-09-23 20:33] TomTranter commented on #61
I haven't worked on that branch for a while but I sent Zohaib the main code I had working for the boundary pores months ago. I assume what he has is better and more up to date so I'd say just delete that branch and if I need to anything else I will cross that bridge when it comes

[2018-09-24 14:55] Zohaib-Atiq commented on #61
The difference I see between add boundary regions and tom boundary function is
A: Removing connections between boundary cells
B: Specify at which face boundary cells are needed.
C: Boundary cells are 3 voxel wide
From last three months, I haven't used @TomTranter boundary function also so not sure about if he has made any other changes.

[2018-09-24 15:03] TomTranter commented on #61
Why 3 voxels? Could this be an argument... In principle I have no problem with it but not sure why it's necessary. Specifying faces fine. I think I do remove interconnections but if I don't then I agree I should

[2018-09-24 15:12] Zohaib-Atiq commented on #61
This was added because the marching cube algorithm was not able to calculate the surface area on one voxel wide boundary cells. So 3 voxels wide boundary cells were used.

Yes, it can be added as an argument as well but I didn't observe its need in snow_dual until now.

[2018-09-25 04:11] #61 closed

[2018-09-28 22:52] jgostick opened #63 "Change chord_length_distribution to accept bins = None"
If None, then just use ALL the values in the chord_count array

[2018-09-28 22:53] jgostick opened #64 "Edges of local_thickness show an artifact"
A 1-voxel thick artifact is appearing at the edges of the local thickness result

[2018-09-28 22:54] jgostick opened #65 "Add chord_length_density"
This would be a probability analysis based on the frequecy of voxels in the image that have a certain chord value

[2018-09-28 22:55] jgostick opened #66 "porosimetry using mio option has edge artifact"

[2018-10-01 14:42] jgostick opened #68 "apply_chords putting too much space between chords"
there is 3 empty voxels between them, instead of just 1

[2018-10-01 14:45] jgostick commented on #65
Interestingly, Torquato actually calls his function a density function...but it does seem quite right to me.  He states that is the probability of a given chord having a length between r and delta r.  I feel like it should be the probability that a randomly chosen point in the void space lies on a chord of length r and delta r.  Minor detail, but the latter way is consistent with his definition of

[2018-10-01 15:20] jgostick opened #69 "Add unit tests"
Our test coverage is too sparse, since we've added quite a few functions lately without tests.  This should be addressed before submitting to JOSS

[2018-10-04 11:21] mdrkok commented on #68
I've got that sorted, rewrote the indexing slightly

[2018-10-04 13:14] mdrkok commented on #63
should be sorted as well, the combo of bins=None and log=True makes for poor results, pretty sure that's unavoidable

[2018-10-04 14:28] TomTranter opened #71 "Add handling of anisotropic voxel_size"
Tomography data often has lower resolution in the stack direction than the in-plane. This is not handled in network extraction, consequently volumes and distances are going to be underestimated. Not sure it would be a straight-forward fix. Is there also an anisotropic distance transform out there?

[2018-10-04 20:31] jgostick opened #72 "trim border on distance transform"
On the chord length functions we offer the option to remove chords that touch the border since they are artifacts that are too short.  The same problem occurs in the distance transform too, but the the values are too large...for instance there may be a piece of solid lurking just outside the image, but the dt value wouldn't reflect this and would be artificially too large.  When passing the dt to

[2018-10-05 15:30] #68 closed

[2018-10-05 15:30] #63 closed

[2018-10-05 15:33] jgostick opened #73 "get_border should return indices or mask"
At present get_border only returns a mask of 1's along the border.   This is find for numpy opertations, but it  is a potential performance liability since you have to use the entire mask as an index.  It would be handy if if returned indices of the border elements as well, like optionally.  These could be calculated algorithmically too, instead of making a large image and putting 1s.  There must

[2018-10-05 17:06] ma-sadeghi opened #74 "Add conduit_length and throat_endpoints to SNOW?"

[2018-10-08 18:10] Zohaib-Atiq opened #76 "SNOW will produce error after boundary_faces specification."
The new implementation of SNOW will produce error after boundary_faces specification. Its because regions and image have different shapes and we cannot multiply regions*im. Although this scheme will work without making boundary cells because regions are not padded so the shape remains same as of image.

[2018-10-08 18:59] Zohaib-Atiq opened #78 "Need generators to produce images with more than 2 phases"
Currently, we have generators that generate boolean images. We can extract at maximum two phases from them. Can we have generators with more than two phases? It will help to extract more phases using snow_n.

[2018-10-08 19:07] Zohaib-Atiq opened #79 "A function that gives phase fraction of all phases in image"
This will be quite useful while extracting n phases from the image. It will tell the fraction of all phases in one go.

[2018-10-08 19:12] Zohaib-Atiq commented on #74
I suggest adding in getnet will be good. As this will also update snow_dual.
We can also make a new function that adds this functionality if getnet functionality needs to be preserved.

[2018-10-08 19:20] Zohaib-Atiq commented on #76
#77 resolved. @jgostick please review. I have made a separate function in snow_n that labels boundary cells but since snow_n will be added late so SNOW will have some extra bit of lines of code for some time.

[2018-10-09 01:32] jgostick opened #80 "The meaning of front, back, left, right, top, bottom not consistent"
They are not consistent in the add boundary regions function, and probably else where too

[2018-10-09 10:10] mdrkok commented on #71
it could be probably implemented with a homemade distance transform function, I have one laying around but it will need some work, i can have a crack at it

[2018-10-09 13:31] TomTranter commented on #71
@mdrkok If you have a problem that this will solve then go for it. I think micro CT should be fine but FIB-SEM not. A work around would be to increase the number of pixels by copying the planes in stack direction. @jgostick is it reasonable to assume that voxel_size applies in all 3 directions and let the users figure out what to do? I identified this issue when looking at dragonfly as they allow

[2018-10-09 13:31] mdrkok commented on #66
not actually a bug, the 'mio' option does morphological image opening. To not have the edge features you would need to call fftconvolve with just dilate, and not the following erode, which would literally be the same as the current 'fft' method

[2018-10-09 13:31] #66 closed

[2018-10-09 13:34] mdrkok commented on #71
@TomTranter I'll have a go, also the io vtk funcs handle different spatial resoutions but I dont know about anything else

[2018-10-09 14:31] Zohaib-Atiq commented on #80
ok I will check this.

[2018-10-09 14:38] ma-sadeghi commented on #71
@mdrkok You might find [this](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.ndimage.morphology.distance_transform_edt.html) useful. In `scipy`'s `distance_transform_edt` (which is used in SNOW), you can pass `sampling` as an optional argument. The docs define `sampling` as the grid spacing, which might be the voxel anisotropy. I haven't looked at it, so it might as well be some

[2018-10-09 14:43] mdrkok commented on #71
@TomTranter I just looked at it, its exactly what we need so that's good!

[2018-10-09 14:44] mdrkok commented on #71
@ma-sadeghi oops, tagged the wrong person

[2018-10-09 18:14] jgostick opened #81 "Rewrite noise instead of importing the troublesome package"
The noise package on the python package index is a pain...and I'm not sure it's even fast.  There are few numpy implementations on the web that we should adopt.  This is a good one:

https://pvigier.github.io/2018/06/13/perlin-noise-numpy.html

And he gives a link to a great pdf that explains how they work.   The only problem with the above code is that it only work in 2D so needs to be generalize

[2018-10-09 18:21] jgostick commented on #81
Here is another good link:  http://flafla2.github.io/2014/08/09/perlinnoise.html

[2018-11-08 21:43] TomTranter opened #83 "snow_partitioning accepts r-max but doesn't pass it to find_peaks in filters"

[2018-11-12 04:12] jgostick opened #85 "make_contiguous should handle negative numbers better"
If the array has -1's in it, they become the new maximum value, by getting wrapped around to the of the array.  The function should do `im = im - im.min()` at the very start, to set the smallest value to zero, and/or possible have an offset argument to indicate what the lowest number should be.

[2018-11-13 05:38] mdrkok commented on #79
Do you mean like np.unique?

[2018-11-13 05:40] mdrkok commented on #64
Is there a way to fix this or should we implement a 'remove_ones' option in the psd function?

[2018-11-13 13:48] jgostick commented on #79
like porosity, but for all phases

[2018-11-13 14:22] jgostick commented on #64
The problem is that the edges is 1 voxel thick, but the values are not 1's...if I recall correctly.

[2018-11-15 16:45] Zohaib-Atiq commented on #79
@jgostick Yes.
For example the output would be something like
______________________
phase         fraction
______________________
phase 1---->0.3
phase 2---->0.4
phase 3---->0.3
______________________
Total ------>1.0

Total will 1.0 for sure but if the image has float values this will let us know that something is wrong.

[2018-11-15 16:53] mdrkok commented on #79
ok cool, np.unique(im, return_counts=True) will return two tupples, one with each unique value in the image (so each phase) and the second the counts of each, so making a function return the phase fraction for each phase is straightforward, ill add something

[2018-11-15 17:07] Zohaib-Atiq commented on #79
@mdrkok I found np.unique to be very slow as compared to just masking the image with phase label and counting Trues. Also if a user inputted an RGB image or any image that has float values in it by mistake np.unique will go crazy and calculates unnecessary phase fraction values. For example phase 0.32453465---->0.0001 which we don't need for sure :). I think function arg can have phases labels inp

[2018-11-16 08:58] mdrkok commented on #79
My experience is that tomography always comes in an rgb triple so im.shape = [x,y,z,3], so when its loaded in you need to use imread(im, as_grey=True) to make it 3 dimensional, meaning all the values will be float values, so at the very least you'll need np.unique to determine what values you have, then you might as well count then.
So maybe were just approaching it from two perspectives, I agree

[2018-11-16 11:24] mdrkok opened #86 "fill blind pores and trim floating solids do the same thing"

[2018-11-16 14:58] Zohaib-Atiq commented on #79
ok sounds good.

[2018-11-16 15:41] Zohaib-Atiq commented on #86
`trim_floating_solids` was made to remove floating solids from image. It is also used in `trim_non_percolating_paths` function.
I agree that they will currently output the same thing and it is because of a bug inside `trim_floating_solids`. So line `im[holes] = True` should be `im[holes] = False`. Which means also a small change in `trim_non_percolating_paths`. I will do it and push the changes if

[2018-11-22 20:53] Zohaib-Atiq commented on #86
![figure_1](https://user-images.githubusercontent.com/30351879/48921590-b8db6780-ee6e-11e8-9cae-83e1fc167d88.png)

[2018-11-22 20:57] Zohaib-Atiq commented on #86
Ignore my above comments. @mdrkok these two functions are behaving differently with the current implementation. They look the same but have a different meaning. The purple is the solid phase with zero's label.

[2018-11-22 21:04] Zohaib-Atiq commented on #86
While doing this test I also observed one thing. When we run these function the input image also changes.
For example when we do
`im_fill_blind_pores = ps.filters.fill_blind_pores(im)`
Check
`plt.imshow(im)`
`plt.imshow(im_im_fill_blind_pores)`
gives same image. So I think a copy of image should be used to mask it with holes and then we should return masked copy as output. like

`def fill_blind_po

[2018-11-23 16:21] jgostick commented on #86
It seems the functions work ok, but the issue about not copying the input is a problem.  I will open a separate issue about that.

[2018-11-23 16:21] #86 closed

[2018-11-23 16:21] jgostick opened #87 "Ensure that all filters copy the input"
The returned image should NOT be the original, so we need to add sp.copy in all cases.

[2018-11-23 16:28] jgostick opened #88 "norm_to_uniform seems to slightly off"
When passing a gaussian blurred image, the returned image does not quite have a uniform distribution.  Not sure why...the error is small, but should be investigated.

[2018-11-23 16:30] #76 closed

[2018-11-23 16:36] jgostick commented on #65
This has been fixed up to match torquato and be more mathematically well posed

[2018-11-23 16:36] #65 closed

[2018-11-23 16:38] jgostick commented on #69
we got it above 92%, mostly by removing evtk

[2018-11-23 16:38] #69 closed

[2018-11-23 16:41] jgostick commented on #46
this is dupe #74

[2018-11-23 16:41] #46 closed

[2018-11-23 16:41] #41 closed

[2018-11-23 16:42] #35 closed

[2018-11-23 16:57] jgostick commented on #64
There are two things going on....the inscribed spheres do not make it to the edge, plus there seems to be some 1's in there somewhere.  When getting the local thickness from the porosimetry function with mode='dt', these problems are gone.

[2018-11-23 17:06] jgostick opened #89 "add mode to local_thickness"
allow 'fft', and 'dt', and 'mio'

[2018-11-23 17:07] jgostick opened #90 "handle boundaries in porosimetry when mode = mio"
when mode is 'mio', the image borders are not handled properly

[2018-11-23 17:11] jgostick commented on #79
look into ``sp.stats.itemfreq``

[2018-11-23 17:12] jgostick commented on #79
create a new function, perhaps called ``phase_fraction`` that counts the number of occurrences of non-zeros, and returning a dict or list, like [0, 444, 6948, 333], though should probably be normalized, like [0, 0.3, 0.55, 0.22, ...]

[2018-11-23 17:14] jgostick opened #91 "move examples back into main repo"

[2018-11-23 17:14] jgostick opened #92 "improve notebook testing to not break on first failure"

[2018-11-24 16:53] jgostick commented on #87
done in #94

[2018-11-24 16:53] #87 closed

[2018-11-24 18:02] jgostick commented on #85
fixed in #95

[2018-11-24 18:02] #85 closed

[2018-11-27 17:28] TomTranter opened #96 "2d images that are extracted always align in the XY plane"
[code]

[2018-11-27 17:33] TomTranter commented on #96
When using the dragonfly plugin the 2d image is actually 3d with thickness 1 along one axis. Snow squeezes the image and does 2d network extraction but then returns it and the plugin doesn't know how to align it to the real world coordinates. There is some logic in snow to do things differently for true 2d images as opposed to these pseudo-2d ones. I'm not yet sure of the best way to handle this s

[2018-11-27 22:22] hefnymah opened #97 "Throat diameter is larger than the diameter of one connection pore body."
the extracted pore-network from CT images using porespy has some throat which its diameter is larger than the diameter of one of the pore body connected to it ( some time is 123 % larger). in case of the small pore is flat. However, in the pore-network modeling and percolation theory, it assumes that the throat should be smaller than the pore-body. Any suggestion to overcome this issue,
thank you

[2018-11-28 21:13] TomTranter commented on #97
Addressed by #98

[2018-11-28 21:13] TomTranter commented on #97
Woops, closed wrong issue

[2018-11-28 21:14] #96 closed, assigned to nobody

[2018-11-29 20:26] TomTranter opened #100 "skimage regionprops deprecation warning"
http://scikit-image.org/docs/0.14.x/release_notes_and_installation.html#deprecations

2d regionprops is switching from xy to rc (row-column) coordinates.

It will remain backwards compatible using parameter coordinates='xy' but this will be removed in 0.16.

We should test our functions with the new mode

[2018-12-04 16:32] TomTranter commented on #83
fixed in pr #99

[2018-12-04 16:32] #83 closed

[2018-12-04 16:32] TomTranter commented on #74
Done in pr #99

[2018-12-04 16:32] #74 closed

[2018-12-04 16:34] TomTranter commented on #91
Hey all, I've moved the existing examples into the main repo and updated them. We all need to add a few more before submitting

[2018-12-04 16:35] TomTranter commented on #91
Also please notice how they are now tested in the /test/unit/test_example.py file

[2018-12-04 17:54] Zohaib-Atiq opened #104 "SNOW is printing unnecessary labels dictionary"
We don't need this info I guess.

[2018-12-05 00:35] jgostick commented on #104
fixed in PR #106

[2018-12-05 00:35] #104 closed

[2018-12-05 00:35] jgostick commented on #92
Fixed in PR #101

[2018-12-05 00:35] #92 closed

[2018-12-05 00:36] jgostick commented on #91
Fixed in PR #101

[2018-12-05 00:36] #91 closed

[2018-12-05 23:00] jgostick commented on #89
don in #106

[2018-12-05 23:00] #89 closed

[2018-12-07 13:56] TomTranter opened #107 "Triple phase boundary"
In network extraction the watershed can return the partitioned regions and these can be analysed to produce a metric of the triple phase boundary which would be useful for reactions (e.g ionomer, carbon, air in fuel cell catalysts). It is also useful for identifying which regions form connected triplets which is needed for identifying throat pairs that are directly next to one-another rather than

[2018-12-10 13:31] mdrkok commented on #64
i think i've got this mostly sorted, the difference is a strel from disk(rad) is slightly different at the edges than the structuring element implied by spim.distance_transform_edt(something)<rad.

I'm still getting some phantom differences of 1 showing up so its not done but I'm pretty sure that was the problem, the rest is probably the weird way I jerry rigged it all together

[2018-12-10 17:06] jgostick commented on #90
I has 'academic' value, since this is the original way it was done

[2018-12-11 11:51] mdrkok commented on #88
The function actually works fine, it seems as blobiness gets low (<1) the pores get very large and it becomes difficult to make the distribution uniform due to the coarseness of the gaussian filter, in really large (or 3D ) images it also seems to be a problem for very high blobiness (>5). I don't think anything needs to be done

[2018-12-11 11:51] #88 closed

[2018-12-11 16:08] jgostick commented on #90
Fixed in #109

[2018-12-11 16:08] #90 closed

[2018-12-11 16:09] jgostick commented on #64
Fixed in #109

[2018-12-11 16:09] #64 closed

[2018-12-13 03:30] TomTranter commented on #107
Being addressed in #108

[2018-12-13 10:03] mdrkok opened #110 "Optimize default behavior for porosimetry functions"
The relative performance of the 'dt' or 'fft' options can make a significant difference on computational effort

[2018-12-18 20:40] #107 closed

[2018-12-18 20:41] TomTranter commented on #56
@ma-sadeghi is this finished?

[2018-12-20 02:48] jgostick opened #113 "Add contributor guide"
Since we hope to have people contribute their code to this package, we should make it abundantly clear how to do it!

[2018-12-21 19:24] Zohaib-Atiq opened #116 "Current MC_implementation will output constant throat_area if voxel_size is < 1"
#115  solved.

[2018-12-24 21:31] jgostick opened #117 "The pore centroid or coord should not be calculated by center of mass"
The `regions_to_network` function currently uses the `center_of_mass` function to determine the pore center ('pore.coords'), but this leads to negative throat length in some cases because the inscribed sphere diameter is determined from the peak of the distance transform, so centering it on the center of mass can cause overlaps with neighbor pores and hence negative throat lengths.

[2018-12-24 21:34] jgostick opened #118 "Is there a reason why we don't convert im to binary in snow extraction functions?"
If the im is a numerical array, then the snow extractions don't work....so why don't we automatically convert it to boolean?  Is there a reason?

[2018-12-24 22:43] jgostick opened #120 "Boundary faces cause problems for throat.endpoint calculation"
It seems that when the `boundary_faces` argument is used in the snow function, then NaNs can appear in the throat.endpoints array.  When no boundary faces are added things are fine.  My thought is that the boundary pore centroid and the inscribed sphere of an internal pore touch exactly, so the throat head and tail are the same point, or rather that the throat length is 0.

[2018-12-24 22:59] jgostick commented on #120
The problem actually occurs inside the OpenPNM throat.endpoint model that gets called so I guess we should open an issue over there.

[2018-12-24 22:59] #120 closed

[2018-12-25 01:43] jgostick commented on #117
This is fixed in PR #119 but will continue to fail until the openpnm dev branch is merged on to master and deployed.

[2018-12-25 12:49] ma-sadeghi opened #122 "Deprecation warning"
When running snow_basic example, I get a few deprecation warnings.
[code]
It seems like there's an easy fix by using `tuple(seq)` instead of `seq` for indexing. I don't really know what's going on in `snow` and so I don't want to make any changes that breaks it. Maybe @Zohaib-Atiq  would like to double check and make the necessary changes?

[2018-12-25 12:56] ma-sadeghi opened #123 "Progress bar shows twice for small-scale network extraction"
The progress bar shows twice for small-scale network extractions (400 squared image for instance) @Zohaib-Atiq.

[2019-01-01 19:13] bo-guo opened #124 "bug in snow_partitioning( ) in the master branch"
Line 97:
regions = watershed(image=-dt, markers=peaks, mask=dt > 0)

If the Gaussian blur filter is applied, the distance map dt has already been modified. Using dt as a mask leads to an image differing from the original image.

[2019-01-01 19:39] jgostick commented on #124
@Zohaib-Atiq Can you look into fixing this bug asap?  Make sure that all our pre-packaged snow functions do not use the gaussian blurred DT for anthing other than finding peaks.

[2019-01-02 01:52] Zohaib-Atiq commented on #124
#125 fixed in `dev`.

[2019-01-09 16:42] #118 closed

[2019-01-09 16:42] jgostick opened #127 "change snow_partition to only accept bool im, and an optional dt"

[2019-01-09 17:05] jgostick opened #128 "make randomize regions as optional in snow_partitioning"

[2019-01-09 18:54] jgostick commented on #128
fixed in PR #129

[2019-01-09 18:54] #128 closed

[2019-01-09 20:00] jgostick commented on #127
Fixed in PR #129

[2019-01-09 20:00] #127 closed

[2019-01-09 20:01] #124 closed

[2019-01-09 20:08] jgostick commented on #110
I think this is fixed now, no?  I renamed the 'fft' mode to 'hybrid' which means that a dt is used to get the core of the invading phase, then fft based dilation is used to convert it to invading fluid.  This is the default, and I've also made the local thickness function recognize these new arguments as well.  I also made local_thickness use 25 different sizes, instead of using ALL of them like i

[2019-01-09 20:08] #110 closed

[2019-01-09 20:17] jgostick commented on #73
Fixed in PR #129

[2019-01-09 20:17] #73 closed

[2019-01-09 20:30] #116 closed

[2019-01-10 21:29] sreeyuth opened #131 "chord_counts throwing up unrealistically long chords"
In my specific case, for a 515x515x515 boolean image, the function 'chord_counts' is returning more than 20 chords that are longer than the maximum possible chord length of 515 pixels.

[2019-01-19 18:18] jgostick opened #136 "scikits-learn not in deps?"
it seems that scikit-learn is needed in porespy but is not in deps.  Why is this needed anyway?

[2019-01-28 18:41] ma-sadeghi commented on #56
@TomTranter, I guess we have what we need.

[2019-02-02 16:52] #131 closed

[2019-02-02 16:52] jgostick commented on #79
added in PR #121

[2019-02-02 16:52] #79 closed

[2019-02-02 16:55] jgostick opened #140 "Remove simulation submodule"
I would like to remove the ``simulations`` module.  This module contains a wrapper for PyTrax and a wrapper for Porosimetry.  Neither of these really needed anymore. 

We've moved porosimetry to a set of filter/metrics functions, so it's totally useless.

As for pytrax, I propose adding a new metric called ``tau_tensor`` that runs pytrax and returns tau values for all three directions.  The docstr

[2019-02-02 20:16] jgostick opened #141 "Rename network_extraction to networks"
In preparing for V1.0, I'm thinking about housekeeping.  The possibility of renaming ``network_extraction`` to just ``networks`` appeals to me.  This is module already does a few things more than just extracting them (for instance it can generate a 3D image given a network).  It's also shorter and more consistent with the other module names.

[2019-02-02 23:53] jgostick commented on #81
I spent / squandered  a few hours on the 1 option above.  I got it working only to find it incredibly slow and a huge memory hog!  I have push the branch, but I don't think we should merge it.

[2019-02-02 23:53] jgostick commented on #123
This is an annoyance, but seems beyond our control.

[2019-02-02 23:53] #123 closed

[2019-02-02 23:54] jgostick commented on #136
This problem seems to have disappeared with one of the merged PRs, so closing

[2019-02-02 23:54] #136 closed

[2019-02-04 15:01] sreeyuth commented on #140
I fully agree.  porespy is purely for pore space analytics, so deleting the simulations module brings a lot of clarity. We have openpnm for 'simulations' anyway.

[2019-02-04 17:21] jgostick opened #143 "What properties should we put in boundary pores"
We allow users to add boundary pores to extracted networks, but we should consider which properties we put in there for diameter, volume and such.

[2019-02-08 16:47] jgostick commented on #140
done in PR #145

[2019-02-08 16:47] #140 closed

[2019-02-08 16:47] jgostick commented on #141
done in PR #145

[2019-02-08 16:47] #141 closed

[2019-02-08 16:48] jgostick commented on #56
This is done in the generators module

[2019-02-08 16:48] #56 closed

[2019-02-08 16:52] jgostick commented on #122
This seems to be gone in the latest dev branch, so closing

[2019-02-08 16:52] #122 closed

[2019-02-08 16:54] jgostick commented on #100
in PR #145 I have used the coordinates='xy' keyword to avoid this warning

[2019-02-08 16:54] #100 closed

[2019-02-08 16:55] #113 closed

[2019-02-12 13:48] TomTranter commented on #37
I'd be interested in developing this. As I mentioned I think the fractal dimension will relate to the importance of Knudsen diffusion and it could be interesting to explore with pytrax

[2019-02-25 17:33] Zohaib-Atiq opened #147 "New implemtention of pore.coords in getnet is generating false location in simple netwroks. In complex networks Fickian Diffusion solver are throughing singular matrix error"
Here is the difference between two extraction before(above) and after(below) the pore.coords change.
![capture](https://user-images.githubusercontent.com/30351879/53356489-8885e800-38f9-11e9-8fad-26ea3613c60a.PNG)
@sreeyuth  has also faced this issue.

[2019-03-09 15:17] ma-sadeghi opened #149 "to_vtk throws an error when given 2D image"
Just wanted to make sure if this was intended behaviour (@jgostick ), otherwise I can push a quick fix.

[2019-03-09 16:34] jgostick commented on #149
Not intended as far as I know

[2019-03-15 04:55] #147 closed

[2019-03-15 15:42] yxqd opened #151 "Improve documentation: images"
Refs openjournals/joss-reviews#1296

The images on the documentation site seem to be hosted at i.imgur.com and sometimes they cannot be displayed:

![image](https://user-images.githubusercontent.com/1796155/54443257-a4b9bf80-4716-11e9-9589-71e207a47b92.png)

Please consider moving the images in the [documenation source code](https://github.com/PMEAL/porespy/tree/master/docs) or somewhere else more

[2019-03-15 16:11] yxqd opened #152 "Error running notebook examples/networks/snow_advanced.ipynb"
The last cell
[code]
throws an exception:

[code]

[2019-03-15 16:14] jgostick commented on #152
@mdrkok Can you look into this one?  This is the vtk io function that you cooked up.

[2019-03-15 16:36] yxqd opened #153 "Improve tests"
Refs openjournals/joss-reviews#1296

It is great that tests for many algorithms are included. Some tests could be improved to boost user confidence on the algorithms. For example it looks to me that this test https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/test/unit/test_filters.py#L170 only checks the maximum of the result. Could you please add some simple tests tha

[2019-03-15 16:36] yxqd opened #154 "improve documentation: references or brief descriptions of some algorithms"
Refs openjournals/joss-reviews#1296

Could you please consider adding brief descriptions or references for implementations for algorithms. For example the local thickness algorithm:https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/porespy/filters/__funcs__.py#L833
The description on what it does is clear, but the implementation is not explained or referenced. A good ex

[2019-03-15 16:37] yxqd opened #155 "(minor) improve README: axis labels"
Refs openjournals/joss-reviews#1296

This is a very minor request. Please consider adding axis labels to the line plots in the README.md.

[2019-03-15 17:17] jgostick commented on #149
@mdrkok Can you also look into this while you're investigating the other vtk issue?

[2019-03-15 20:28] jgostick commented on #151
This is now done, figures have been added to docs/_static, and the docs all link there now.  Only 2 references are left to imgur, and these are from jupyter notebooks in the examples folder, which are rendered by github so work ok.

[2019-03-15 20:28] #151 closed

[2019-03-15 20:37] jgostick commented on #155
done and pushed

[2019-03-15 20:37] #155 closed

[2019-03-15 21:09] jgostick commented on #154
Many functions already had documentation.  The functions that do not are our own implementations.  For instance, our local thickness does not work the same as the imageJ version.  Nonetheless, I have added references in several places as best I can.

[2019-03-15 21:09] #154 closed

[2019-03-15 21:25] yxqd commented on #154
I think your implementation of local thickness algorithm is quite ingenious. It is fast and simple, although it has a clear limit of accuracy determined by parameter `sizes`. I have to read your documentation and code carefully to understand it. So it would be very helpful for users that some words are added about your own implemenations, like this one, explaining it is different from ImageJ, its

[2019-03-16 02:00] jgostick commented on #154
Ingenious is a bit of a stretch, but I'm glad you approve!  I just realized as some point that it was 'porosimetry' without access limitations.  I think it's probably too much to explain in the doc string, and we're trying to keep the "docs" lean so we don't have to maintain too much.  I think a better approach would be an example in the examples repo which I'm touching up right now.  I can link t

[2019-03-16 10:15] TomTranter commented on #152
Not sure if @mdrkok received this notification. It must be a requirements issue. imageToVTK comes from the pyevtk package which may not have been installed.

This probably stemmed from the fact that pyevtk was not up to date on pip and we use to get it from a bitbucket account.

https://github.com/PMEAL/porespy/blob/master/porespy/io/__funcs__.py

Has the following lines which I guess don't show u

[2019-03-16 10:39] mdrkok commented on #152
I did receive the notifications, the issue is almost certain what tom said, we just started getting pyevtk through pip so its probably just an import error

[2019-03-16 10:39] mdrkok commented on #149
Will do

[2019-03-16 16:35] yxqd commented on #152
I was running the notebooks in this repo. Only later I realized there is another repo dedicated for notebook examples. It would be better to consolidate them so that it is less confusing. Thanks!

[2019-03-20 11:55] TomTranter commented on #149
addressed in PR #156

[2019-03-20 14:03] jgostick commented on #153
Our approach is to create an identical image at the initialization of the test class (self.im), then use it for all tests.  This saves us having to store a 200**3 image in the repo.  We ensure the image is identical each time to setting the seed of the random number generator then calling ``blobs``.

To make sure this approach is solid I have added an assert statement that checks the porosity.

Th

[2019-03-20 14:03] #153 closed

[2019-03-25 08:59] lanetszb opened #157 "Input format"
Dear all,

May somebody advice on which format should be used as an input to poreSpy in order to generate a pore network model for openPNM.

Thank you in advance, Zak

[2019-03-25 09:05] TomTranter commented on #157
This tutorial should help. Basically an array with 1s as pores and 0s as solid https://github.com/PMEAL/porespy/blob/master/examples/networks/snow_basic.ipynb

[2019-03-31 18:34] cr458 opened #159 "Missing tests"
It seems there are a few incomplete/ missing tests, generally for helper functions etc... Most of them look like they would be fairly easy to write tests for. A couple I've noticed are:

In **Generators**:
-  `line_segment()`
- `_remove_edges`
- `_fit_strel_to_im_3d`

In **Filters:**
- `snow_partitioning`

In **Metrics:**
- `representative_elementary_volume`
- `porosity_profile`
- `chord_counts`

[2019-03-31 18:40] cr458 opened #160 "noise function"
The [`noise`](https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/porespy/generators/__imgen__.py#L480) function seems to require the installation of a package.

1. Could we change the name of this function to `generate_noise`, or `get_noise` since it has the same name as the `noise` package.

2. Can we include the `noise` package in `requirements.txt`?

[2019-03-31 18:46] cr458 opened #161 "blobs docstring"
[`blobs`](https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/porespy/generators/__imgen__.py#L565) docstring says the default value of `porosity` is `None` and a 'scalar noise field' is returned, but default value seems to be 0.5?

[2019-03-31 18:48] cr458 opened #162 "insert_shape docstring"
docstring missing at [`insert_shape`](https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/porespy/generators/__imgen__.py#L11)

[2019-03-31 18:52] cr458 opened #163 "snow and snow_dual files"
More of a suggestion than a rigid issue: would it make sense to combine `snow` and `snow_dual` into the same .py file, and create a separate `Network_Dict` class/namedtuple that both functions had access to and could be returned without defining the class within both functions separately?

[2019-03-31 19:03] cr458 opened #164 "Dimension checking"
In many functions such as[ `distance_transform_lin`](https://github.com/PMEAL/porespy/blob/8045f506364e6278c68cf5ebaaff4ef604bc13a1/porespy/filters/__funcs__.py#L17), dimension check is performed using `arr.ndim`. However if the user has not 'squeezed' the input array, this may return unexpected results:
[code]
Would be good to find occurrences of this, and perform the dimension check on the squee

[2019-04-01 02:52] jgostick commented on #160
Name has been changed, but I don't want to add the package to our requirements since it cannot be installed from pip on windows machines as it needs to be compiled.  I can be installed from conda, so that information is included in the docstring.

[2019-04-01 02:52] #160 closed

[2019-04-01 02:56] jgostick commented on #161
Nice catch...fixed

[2019-04-01 02:56] #161 closed

[2019-04-01 15:21] jgostick commented on #162
Done and enhanced the insert shape function significantly

[2019-04-01 15:21] #162 closed

[2019-04-01 15:27] jgostick commented on #163
We've actually done part of this in a branch that was merged to dev last week.  The Network_Dict class is now in a utils file, and is used by snow, snow_dual, and snow_n.  We also refactored these three algorithms to all call the same set of functions.  Regarding combining into same file, I prefer separate files to help keep file length manageable.

[2019-04-01 15:27] #163 closed

[2019-04-01 15:47] jgostick commented on #164
Good point, warning has been added throughout

[2019-04-01 15:47] #164 closed

[2019-04-01 20:49] jgostick commented on #159
Done, done and done!

[2019-04-01 20:49] #159 closed

[2019-04-08 19:52] #149 closed

[2019-04-08 19:53] jgostick commented on #152
We fixed the pyEVTK error, and have also moved all examples from the examples repo to the example folder of the main repo.  I will update the examples repo accordingly.

[2019-04-08 19:53] #152 closed

[2019-04-08 19:54] #157 closed

[2019-05-07 12:17] TomTranter opened #168 "SNOW_n doesn't work if phases are not labelled 1,2,3 etc"
In the test changing self.im3d+1 to +2 fails the test as there is a bug in partitioning
[code]

[2019-05-07 12:20] TomTranter commented on #168
Either it should accept any set of numbers or there should be a re-labeling step or the docs should be updated to explain this behavior and an error message should be thrown. I would prefer accepting any set of numbers as then grey-scale values can be used directly

[2019-05-07 17:55] TomTranter opened #169 "snow_partitioning_n returns regions labelled zero when all space in image belongs to a phase"
Trying to do a 3-phase segmentation and all space in image belongs to a phase i.e. no solid anywhere. Running snow_n produced erroneous throat connections and I traced this back to snow_partitioning_n returning some regions labelled zero. I'll try and debug further but could be something in watershed settings

[2019-05-07 18:29] Zohaib-Atiq commented on #169
Never faced this issue before. If possible can you send me the exact image which you are sending in snow_n?

[2019-05-08 10:09] TomTranter commented on #169
I've managed to reproduce it with a generated image. The first two commented out images work and the polydisperse spheres don't. The problem seems worse for smaller features but it's not limited to them, I think the root cause lies in removing peaks that are identified wrongly as saddle points.
[code]

[2019-05-08 10:13] TomTranter commented on #169
It's also hidden a little as the zeros in the second and third phases have their indices increased by num[i-1] so there are multiple non-zero regions too which you can find when you count the labelled images. This problem could be solved by inserting an extra labelling step as it seems to happen for isolated regions mostly and we could just give them a region number after the watershed but that is

[2019-05-13 12:19] TomTranter commented on #169
Any luck figuring this out @Zohaib-Atiq ?

[2019-05-13 15:44] Zohaib-Atiq commented on #169
@TomTranter this is coming from snow_partitioning function. Changing r_max and sigma value changes the total number of peaks before watershed step. How much percentage of material you are losing in your image. If it is less then 1% then I think it should not change the results that much?

[2019-05-13 16:30] Zohaib-Atiq commented on #168
This will require modifying five different function in snow_n. The code will also look ugly after this modification. Also, setting up alias's will create confusion. I guess using make contiguous function before inputting your image is a good idea. This can be done inside the snow_n code as well. I will also change the doc string for more convenience. If all agree.

[2019-05-13 18:08] TomTranter commented on #169
It's not just losing material that is the problem. It creates multiple separate regions with same label and this results in erroneous throat connections. I'll look into it more

[2019-05-13 18:18] Zohaib-Atiq commented on #169
These extra material is labeled zero in combined watershed which is neglected while extracting network. In your case what label you are getting for these multiple regions? It should be zero.

[2019-05-13 19:00] TomTranter commented on #169
Run the script and look at the counts

[2019-05-13 19:04] Zohaib-Atiq commented on #169
These regions are labeled zero in the script you posted. Which is neglected in the network extraction stage.

[2019-05-13 20:20] Zohaib-Atiq commented on #169
The script shows all such regions labeled zero. It makes 0.55% of the whole image. Total count is 5543 out of 1000000 voxels.

[2019-05-15 14:17] TomTranter commented on #169
I think it happens when the regions are isolated. I have a script here that reproduces the problem with 20% of the space labelled zero

[code]

[2019-05-15 14:18] TomTranter commented on #169
@jgostick, @Zohaib-Atiq I also have a branch that fixes the problem but it breaks other tests. See the PR.

[2019-05-21 15:22] angelswat opened #171 "Error in fibrous media generation"
Hi (@jgostick @TomTranter )

I have a problem in fibrous media generation because I have obtained a fibrous media not similar to how is a real fibrous media.

![fibers](https://user-images.githubusercontent.com/32890792/58108689-e56c0400-7bb1-11e9-8e4f-0806cf9a6d6d.png)

You have put in your jupyter notebok an incredible fibrous media. Please help me, how can I fix this error?

[2019-05-21 16:06] TomTranter commented on #171
can you post the code please

On Tue, May 21, 2019 at 4:22 PM angelswat <notifications@github.com> wrote:

[2019-05-21 16:16] angelswat commented on #171
import porespy as ps
import matplotlib.pyplot as plt
import imageio
import scipy as sp
import scipy.ndimage as spim
import openpnm as op
from porespy.filters import find_peaks, trim_saddle_points, trim_nearby_peaks
from skimage.morphology import watershed
from porespy.tools import randomize_colors

im = ps.generators.cylinders(shape=[300, 300, 300], radius=5, ncylinders=200)
plt.imshow(ps.visualiz

[2019-05-21 17:58] jgostick commented on #171
Your image is great, you just need to view it from a different angle.

Specify the direction as Y or Z, such as:

[code]

[2019-05-21 19:13] angelswat commented on #171
Perfect!
Thank you so much!

[2019-05-21 19:13] #171 closed

[2019-05-30 20:58] jgostick commented on #71
The problem is that we could *never* mange to implement this consistently in all functions.  I actually had an email last week regarding this question, and my reply was to use the ``scipy.ndimage.zoom`` function to expand the image in the missing dimension.  For instance, if you had an image with resolution of 2.5 x 2.5 x 10.0 um per voxel, you can use ``zoom`` as follows:

[code]

I hate to say n

[2019-05-30 20:58] #71 closed

[2019-05-30 21:36] jgostick commented on #97
This is partially fixed.  It was caused by a changed I'd introduced that moved the pore centers away from where the distance transform said they should be.  We've reversed this now...however, there is still no guarantee that this won't happen and we don't currently check for it.  It would be wise to improve the ``regions_to_network`` function to include such a check.

[2019-05-31 19:58] jgostick commented on #97
The latest version is 1.1.2 I think.  We recently gave it the 1.0 mark, and published a paper in Journal of Open Source Software

[2019-06-02 01:27] jgostick opened #172 "add mode convolve to fftmorphology"
This would allow me to use fftconvolve (which fftmorphology) calls without having to remember where it is in scipy.  But beyond laziness, it basically calls the function with no frills, so does the convolve and passes it through.

[2019-06-05 02:40] jgostick opened #173 "Update docstrings with a link to the documentation website to corresonding example"

[2019-06-17 17:58] jgostick opened #174 "update cylinders to take a length argument"
At present cylinders assumes all cylinders span the entire domain.  It would be easy (I've already tested it) to add a length argument to create needles with a specific length.  This creates many 'end points' in the image.

[2019-06-17 18:00] jgostick opened #175 "Add an angled view to the visualizations module"
It is often hand to view the image from an angle to make sure it looks realistic.  This can be one by rotating the image using sp.imrotate, then using a function similar to the SEM view to create an angled view of the domain.

[2019-06-17 18:48] jgostick opened #176 "fcc mode in lattice_spheres is not quite right"
There is a small offset along one of the axes.

[2019-06-17 18:54] jgostick opened #177 "RSA does NOT make a copy of the input image...is this what we want?"
Almost all functions in porespy to NOT alter the input image, but return a copy.  The RSA algorithm does not do this.  It caught me by surprize so worth asking if this is a good idea or not.

[2019-06-19 13:29] raincoder87 commented on #97
Hey, I am kindly wondering for more detail how you partially fixed it. I'm still facing the same problem described above.
where in the code that can eliminate that effect?
thanks for help in advance,

[2019-06-19 13:49] jgostick commented on #97
This could happen if the pores have an aspect ratio > 1.  If the pore is like a pancake, then you can only draw a small sphere inside it, but the throats could still be quite large.  We are currently thinking of ways to extract the geometrical information more robustly, but as of now the implementation in porespy does not check for things like this.  It is not hard to fix after the fact though onc

[2019-06-22 13:04] jgostick opened #179 "Use the scipy.ndimage mean, sum, max, min funcions in flood"
The flood function is generally slow and I've just learned that scipy.ndimage actually has functions for doing something like this.

[2019-07-05 17:40] jgostick opened #180 "Cluster trimming functions not working as expected"
Not sure when this broke, but it seems that trimming blind pores and disconnected clusters is not working as it used to. The problem is coming from skimage.clear_border function.

[2019-07-12 02:17] abrafcukincadabra opened #182 "Hide Progress when applying filters?"
![image](https://user-images.githubusercontent.com/30436222/61097504-e5e09700-a49e-11e9-94d6-96e73f7464c9.png)
Is there anyway to hide these progress bars when using Porespy Filters, such as local thickness, etc?

[2019-07-12 16:10] jgostick commented on #182
Maybe....we use the tqdm package.  It may be possible to import the package into your session and changed a setting.

BTW, it is not supposed to print on separate lines like that.  That happens sometimes and we're not sure what causes it.

[2019-07-16 09:01] abrafcukincadabra commented on #182
Thanks for your help! I'll look into tqdm.

[2019-07-16 12:44] jgostick commented on #182
I looked into the tqdm docs and could not find any instructions for just turning it off at the package level.  I was hoping for something like:

[code]

But I found nothing. Let me know if you find anything.

[2019-07-26 17:39] fjkr5 opened #185 "porespy.filters.porosimetry"
Hello all,

I am writing for asking a question about the code: porespy.filters.porosimetry(im, sizes=25, inlets=None, access_limited=True, mode='hybrid')

If I want to modify the inlets, what should I do? For example, I need the inlets on y and z direction to be zero and only keeps the values on x direction. Can you please tell me what to do? Or any examples about modify inlets. Thank you!

[2019-07-26 21:47] jgostick commented on #185
You make an image the same size as your ``im`` with all zeros, so:

[code]

Then you put 1's on the borders where you want invasion to occur from, like:

[code]

This will all invasion from both x=0 and x=X faces.

Note that there seems to be a bug in the current implementation of our ``trim_disconnected_clusters`` function, which is called by the ``porosimetry`` function when you specify inlets.

[2019-07-29 13:35] fjkr5 commented on #185
Hi Dr. jgostick

Thanks for your responding! I tried your code but it returns that:

'    in = sp.zeros_like(im, dtype=bool)
     ^
SyntaxError: invalid syntax'

So I used 'imm' instead of 'in' as 'imm = sp.zeros_like(im, dtype=bool)'

I didn't see the trim_disconnected_clusters function, but only trim_disconnected_blobs function from Porespy Docs. Can you please specify how it works? How can I co

[2019-07-29 23:02] jgostick commented on #185
You can see the docstring for the ``trim_disconnected_blobs`` function if you're using an IDE that renders help function.  Spyder does this.  You can also see it on the web version of the documentation [here](https://porespy.readthedocs.io/en/master/modules/filters.html#porespy.filters.trim_disconnected_blobs)

[2019-07-30 01:02] jgostick commented on #185
``in`` is a protected python keyword, so maybe that was the problem.

[2019-07-30 14:49] fjkr5 commented on #185
Hi Dr. jgostick，

Thanks for your information. But I didn't figure out what's the problem on 'in'. I am trying to use 'mip.set_inlets'. Do you think this is acceptable? If I want this drainage occurs in x direction, how can I know this is 'lefft', 'right' ,'front' or 'back'? Thank you!

[2019-07-31 01:33] jgostick commented on #185
``mip.set_inlets`` is a method on the Porosimetry class in OpenPNM.  I thought your question was about PoreSpy (this repo).  Am I missing something?

[2019-07-31 01:49] fjkr5 commented on #185
My question is about PoreSpy, I am wondering if I can try OpenPNM to solve
this problem. Thank you!

On Tue, Jul 30, 2019 at 9:33 PM jgostick <notifications@github.com> wrote:

[2019-07-31 02:05] jgostick commented on #185
[code]

[2019-07-31 21:29] fjkr5 commented on #185
Hi Dr. jgostick，

It works. Thank you sooo much!!

[2019-08-01 18:12] fjkr5 commented on #185
Hi Dr. jgostick，

I run this in 3D and my code is shown as following:

import porespy as ps
import matplotlib.pyplot as plt
import scipy as sp

im = ps.generators.bundle_of_tubes(shape=[40, 40, 40], spacing=0.01)
bdy = sp.zeros_like(im)
bdy[0, :, :] = 1
bdry = bdy*im

mip = ps.filters.porosimetry(im=im,inlets=bdry)
print(mip)

result = ps.metrics.pore_size_distribution(mip, log=False)
print(result

[2019-08-01 19:55] jgostick commented on #185
You didn't tell me what error message you're getting, so I don't know where you're having trouble.

From your above code I see a few problems though:
1.  You can't use ``plt.imshow`` with a 3D image,  you can only look at slices, like ``plt.imshow(mip[:, :, 50])``
2. You are mixing up porespy and openpnm again.  PoreSpy is all about images, while OpenPNM is all about networks.  So the line ``im=op

[2019-08-01 20:16] fjkr5 commented on #185
Thanks for your responding. My code is:
'
import porespy as ps
import matplotlib.pyplot as plt
import scipy as sp

im = ps.generators.bundle_of_tubes(shape=[400, 400, 400], spacing=0.01)
bdy = sp.zeros_like(im)
bdy[0, :, :] = 1
bdry = bdy*im

mip = ps.filters.porosimetry(im=im,inlets=bdry)
print(mip)

result = ps.metrics.pore_size_distribution(mip, log=False)
print(result.R, result.cdf)

plt.subpl

[2019-08-01 20:52] jgostick commented on #185
try putting spacing as an integer, like 20.  In porespy all spacing and shape values are taken as integers meaning number of voxels in each direction.  It is up to the use to keep track of the um/voxel resolution of their images when working with the images.

[2019-08-02 15:44] fjkr5 commented on #185
Hi Dr. jgostick，

I changed the spacing to 10 and my code is:

'import porespy as ps
import matplotlib.pyplot as plt
import scipy as sp

im = ps.generators.bundle_of_tubes(shape=[400, 400, 400], spacing=10)
#bdy = sp.zeros_like(im)
#bdy[0, :, :] = 1
#bdry = bdy*im

mip = ps.filters.porosimetry(im=im)
print(mip)

result = ps.metrics.pore_size_distribution(mip, log=False)
print(result.R, result.cdf)

[2019-08-02 18:04] jgostick commented on #185
With the bundle of tubes image there should be NO difference between specifying inlets or not. Why are you doing this on a bundle of tubes image?  That image generator was only added for some visualizations, but is not really meant for meaningful simulations.

[2019-08-02 18:22] fjkr5 commented on #185
Hi Dr. jgostick，

Thanks for your explanation. I would like to generate a pore size
distribution for a real 3D image and set inlets to simulate drainage in
different directions. But I found that the results are very similar no
matter I set the inlets or not. My code is listed as following. The only
difference is SimpleITK part. Thank you!

'import SimpleITK as sitk
import porespy as ps
import matp

[2019-08-02 18:28] jgostick commented on #185
OK, I think you are experiencing the bug in our ``trim_disconnected_blobs`` function, which ``porosimetry`` uses internally when you pass in ``inlets``.  I will organize a bug-fix release of PoreSpy soon.  In the mean time, you can use the dev branch.  Do you know how to do this?

[2019-08-02 18:32] fjkr5 commented on #185
Sorry I am not familiar with it. Can you please send me link of that?

On Fri, Aug 2, 2019 at 2:28 PM jgostick <notifications@github.com> wrote:

[2019-08-02 18:58] jgostick commented on #185
You need to:
1. install a git client, like sourcetree, fork, or gitkraken
2. clone our repo into the git client (using the link provided at the top of the github page).  This will make a local copy of our code on your machine.
3. in the git client 'check out' the dev branch, which will changes all the local files with the corresponding changes
4. open the conda prompt and change directory to the l

[2019-08-02 18:58] #185 closed

[2019-08-02 18:59] fjkr5 commented on #185
OK. Thanks so much for your help!

On Fri, Aug 2, 2019 at 2:58 PM jgostick <notifications@github.com> wrote:

[2019-08-03 01:31] abrafcukincadabra opened #186 "[Question] Voxel Scaling"
In the Docstring for pore_size_distribution, it states:
```(1) To ensure the returned values represent actual sizes be sure to scale the distance transform by the voxel size first (``dt *= voxel_size``)```
I have a couple of questions regarding voxel scaling.

1. Is it necessary to scale both the distance transform (dt) array in Local Thickness (lt) filter and Pore Size Distribution (psd) metric?

[2019-08-03 01:48] jgostick commented on #186
This seems like it might be a mis-wording in the docsring.  Both local thickness and porosimetry function require the distance transform to be in voxel units, not actual units.  If you want to the ``pore_size_distribution`` function to return actual units, then you must scale the result of the local thickness filter and/or the porosimetry filter before sending to ``pore_size_distribution``.  You b

[2019-08-03 04:04] abrafcukincadabra commented on #186
Right, so just to be clear, if I wanted the final results to be in millimeters, then I should either apply scaling to the imresults array from porosimetry filter before sending the results to the psd metric or apply scaling only in psd metric using the voxel_size parameter? Or, I can manually alter the radius values in the psd metric output tuple myself using a completely different function, is th

[2019-08-03 12:27] jgostick commented on #186
Yes, scale the images from ``porosimetry`` and/or ``local_thickness``, so:

[code]

[2019-08-03 12:32] jgostick opened #187 "trim_nonpercolating_paths should take image masks for inlets and outlets"
At present is takes only an inlet and outlet axis.  It should be improved to also accept images with user-specified masks to allow more complex boundaries.

[2019-08-03 12:33] jgostick commented on #187
It would also become more consistent with other functions where users specify boundaries.

[2019-08-03 19:58] jgostick commented on #185
I decided it was a good time to merge the latest dev version into master and push the whole thing to PyPI.  You should be able to get the latest version now, including the bugfix in ``trim_disconnected_blobs`` which is affecting the ``porosimetry`` function, using:

``pip install --upgrade porespy``

[2019-08-03 21:50] fjkr5 commented on #185
It would really help me a lot. Thank you so much for your information.

On Sat, Aug 3, 2019 at 3:58 PM jgostick <notifications@github.com> wrote:

[2019-08-04 01:05] jgostick commented on #175
done

[2019-08-04 01:05] #174 closed

[2019-08-04 01:05] #175 closed

[2019-08-04 01:06] #186 closed

[2019-08-04 01:06] jgostick commented on #180
fixed and merged to master in V1.2.0

[2019-08-04 01:06] #180 closed

[2019-08-05 02:27] abrafcukincadabra commented on #186
Sorry I couldn't respond earlier. Thanks so much for your help!

[2019-08-29 01:14] jgostick opened #191 "porosity_profile returns unnormalized results"
I should also accept an argument listing which phases are which in the case of multiphase images.

[2019-09-23 19:50] jgostick opened #193 "enhance trim_nearby_peaks to accept a tolerance or threshold"
At the moment it trims peaks that are closer to another peak than to solid, but it'd be nice if we could put some sort of absolute AND relative tolerance, so it only trims peaks if they are too close to a nearby peak within some acceptable amount.

[2019-09-24 16:51] jgostick opened #194 "trim_disconnected_blobs should accept connectivity argument"
at present, a cross is used, but the ability to use a square would be handy.

[2019-09-25 02:55] jgostick opened #195 "trim_disconnected_blobs should accept indices as well as image of inlets"
This is actually causing a bug in porosimetry...a major bug.

[2019-09-26 13:40] jgostick opened #196 "trim_percolating_paths should accept masks for inlet and outlets"
Also, it doesn't seem to work

[2019-09-26 14:58] jgostick opened #197 "Local thickness seems to put low values in some pores"
The maximum of the dt is 21, but the local thickness filter puts a sphere of 18.  It is probably not a rounding issue given how far apart these numbers are. Interestingly this only happens in some pores.  In others the dt and the lt match.

[2019-10-01 20:45] jgostick opened #198 "mio can be serialized using chunked_func to handle massive images"
The memory requirements for porosimetry are large.  MIO is fast enough already due to the use of fftconvolve (which is parallelized), so chunking it would be to handle large images.

[2019-10-02 14:19] jgostick opened #199 "pore_size_dist returns pdf as satn, should be cdf"

[2019-10-02 21:17] magnaou opened #200 "noise.snoise3 doesn't take a seed argument"
This makes using "ps.generators.generate_noise(args)" reproducible and doesn't allow us to generate different media of the same size.

[2019-10-04 03:26] jgostick commented on #200
The problem is that noise is an external package.  I don't know if it even uses the numpy random number generator.

[2019-10-04 12:02] jgostick opened #201 "Add quiet option to functions to turn off progress bar and messages"

[2019-10-12 14:35] jgostick commented on #196
Fixed in PR #202

[2019-10-12 14:35] #196 closed

[2019-10-12 14:45] jgostick commented on #195
This was fixed during a previous PR. The commit with the fix is:

https://github.com/PMEAL/porespy/commit/48b3ab1e006d68fbecdfd78f66f308fec6351fc3#diff-9990eba746eb161014e1f6f5231f915a

[2019-10-12 14:45] #195 closed

[2019-10-12 15:08] jgostick commented on #194
Fixed in PR #202

[2019-10-12 15:08] #194 closed

[2019-10-12 15:09] jgostick commented on #191
This was fixed at some point

[2019-10-12 15:09] #191 closed

[2019-10-13 04:03] jgostick commented on #179
Fixed in PR #204

[2019-10-13 04:03] #179 closed

[2019-10-13 04:04] jgostick commented on #187
Fixed incidentally in an old PR

[2019-10-13 04:04] #187 closed

[2019-10-14 14:43] jgostick commented on #199
Nevermind, I was confused.  PDF is a statistical pdf with an area under the curve of 1, cdf approaches one, and satn is the pdf that produces the cdf if each satn point is summed.  So satn is fraction of voxels belonging to the given size, while cdf is the cumulative fraction of given pores.

[2019-10-14 14:43] #199 closed

[2019-10-14 15:45] jgostick commented on #197
False alarm.  This does happen if you don't put enough sizes. The default is 25, so if your image distance transform spans from 0 to 100, the lt will contain bins like 50 and 54, so voxels in the dt of size 53 will get labelled 50.  It might be advisable to change the default to generate bins from 0 to dt.max(), but this could make the function very slow if the user is not careful.

[2019-10-14 15:45] #197 closed

[2019-10-14 15:45] jgostick commented on #200
Also see issue #81

[2019-10-28 01:21] ankitaeclipse opened #205 "Direction for two-point correlation functions"
Hi,

Thank you for creating this library.

I am trying to use two-point correlation functions on 3D binary porous media images. I was wondering if there was a way to extract the correlation lengths for x-, y-, z- directions?

Thank you.

[2019-10-28 02:19] jgostick commented on #205
Not at the moment.  The 2 point correlation function works in all directions at once.  The chord length distribution might work for you though.  It is described in Torquato's textbook along side the 2 point correlation function so has a lot of the same qualities.  We have an example here:

https://github.com/PMEAL/porespy/blob/master/examples/filters/adding_chords.ipynb

[2019-10-29 01:14] ankitaeclipse commented on #205
Thank you, Prof. Jeff for the help.

[2019-10-29 01:16] jgostick commented on #205
Sometimes the notebook examples don't render on github.  If that happens just keep trying until it shows up. I will close the issue now, ok?

[2019-10-29 01:16] #205 closed

[2019-11-05 01:38] Artshap opened #208 "Throat.area and Throat.perimeter calculation"
[example.zip](https://github.com/PMEAL/OpenPNM/files/3806912/example.zip)

Dear development team,

I am using porespy to create a pore network and export it to csv using openpnm. When I have exported it I noticed that values for throat area and perimeter are strange and although the source codes are straightforward, they do not match the manual calculation. I am not sure if I should use the provid

[2019-11-08 14:24] fabricix opened #206 "filters.fill_blind_pores function in 3D image"
It is not very clear for my how the function [filters.fill_blind_pores](filters.fill_blind_pores) works in 3D images.
The behavior of the function is clear with 2D images:
![Screenshot from 2019-11-08 10-58-12](https://user-images.githubusercontent.com/22794916/68482197-c45aa680-0217-11ea-880d-b200525ee927.png)
but in 3D images, I can not see the the filling of the blind pores, even in to an image

[2019-11-08 15:09] jgostick commented on #206
Hi @fabricix.  In your 3d image it (a) less likely that a pore is blind and (b) you possibly just chose a slice with no blind pores.  Have you check the im.sum() before and after?  It should be slightly less afterwards indicated that pores have been changed from 1 to 0.

[2019-11-08 16:00] fabricix commented on #206
Hi @jgostick, the sums are the same `im.sum()=11830657, ps.filters.fill_blind_pores(im).sum()=11830657` (suggesting me there are not blind pores). In the follow image, you can see that the pore in the slice 88 appears after applying the filter, but slices 87 and 89 prove that the pore is blind. What it is wrong? Do you have an example showing this filter in a 3D image? thanks!
![image](https://use

[2019-11-08 16:03] jgostick commented on #206
It's possible there is a bug in the filter.  Which version of porespy are you using?

[2019-11-08 16:06] jgostick commented on #206
Also, the green is the solid (I think), ``fill_blind_pores`` would remove yellow pixels.  There is also a function called ``trim_floating_solid`` which should remove the green.  Both call ``trim_disconnected_voxels``.  It's odd that the sums are the same though, so I still suspect you are using a version with a bug.

[2019-11-08 16:08] fabricix commented on #206
Name: porespy, Version: 1.2.0.

[2019-11-08 16:18] jgostick commented on #206
I know there was a bug in this filter a while ago, but looking at master and dev, it seems that they are the same, so the bugfix was merged into master.

Can you try inverting your image and seeing if the dots on slice 88 disappears? Or, try ``trim_floating_solid``.  I'll start making a notebook example as well, to debug, but also to add to the examples folder.

[2019-11-08 16:19] fabricix commented on #206
yes, green and yellow are solid, purple is the pore space. My objective really is to expand the green phase progressively and to perform a parametric analysis. I need to keep all the other phases during the analysis so may be the `fill_blind_pores` is not needed, but during a test a found this behavior.
What filter can a use for expand in 3D a specific phase (green, yellow or purple)? `binary_dila

[2019-11-08 16:29] fabricix commented on #206
There is not difference for my when applying the `trim_floating_solid`
![image](https://user-images.githubusercontent.com/22794916/68493423-3688b680-022b-11ea-9085-71f63b846eed.png)
, or when I invert the image
![image](https://user-images.githubusercontent.com/22794916/68493583-7d76ac00-022b-11ea-8b5d-adec1f07f96f.png)
the pore does not disappear.

[2019-11-08 16:35] jgostick commented on #206
Ok, so most of the filters in porespy (and scipy.ndimage and skimage) are meant for binary images.  In porespy we assume 1 for void and 0 for solid.  It sounds like your image has 3 colors, but to use most filters you'll need to binarize the image to make your phase of interest be 1 and all other phases have 0. To do this, make several copies of your image, one for each phase, so for instance if y

[2019-11-08 17:13] fabricix commented on #206
Yes, I think it is a very useful approach, as you can see bellow, I can identify the each phase
![image](https://user-images.githubusercontent.com/22794916/68496043-317a3600-0230-11ea-96a4-996011c00afa.png)
but when I do the dilation I have the follow error message
[code]
Does you have any idea why?

[2019-11-08 18:06] jgostick commented on #206
great, so you can proceed from here?  BTW, if you do 'fill_blind_pores on the bottom-right image I *think* that the dots should all disappear.

[2019-11-08 18:33] fabricix commented on #206
yes, I am going to proceed from here,it will be great if we have an example of `fill_blind_pores` over a 3d image, thanks!

[2019-11-08 19:58] jgostick commented on #206
Yes, I created a new branch, and started a notebook example.  I'll push it soon.  I'm going to close this issue since you seem to have it sorted out.

[2019-11-08 19:58] #206 closed

[2019-11-18 01:10] jgostick opened #210 "Add a settings dict to the module?"
It would be handy to add ``settings`` to the top level of the module.  The first use case would be to turn on/off messages output by functions, or the progress bar.  Perhaps it could even specify which progress bar to use, since the terminal and the notebook ones look much different.  Could also specify colormaps, number of cores to use for chunked functions, etc.

[2019-11-18 01:15] jgostick commented on #210
Some relevant discussion [here](https://stackoverflow.com/questions/3824455/create-constants-using-a-settings-module)

[2019-12-12 16:10] jgostick opened #212 "Add new strel generators, that accepts ndims?"
we have ps_sphere and ps_disk, so I propose ps_round, which accepts r and dims.  If dims=2, it returns a disk, if dims=3 it returns a ball.  This would save about 5 lines of code in dozens of functions.  Could also do ps_rect for squares and cubes.

[2020-01-16 05:21] #177 closed

[2020-02-12 19:57] jgostick opened #214 "Change definition of pore.area for boundary pores"
we are currently finding area as the area of the inscribed sphere, which is wrong for boundary pores since they are very flat.  This should be taken as the area of the neighboring throat.

[2020-02-12 19:58] jgostick opened #215 "Using openpnm conduit length and shape factors in get_net is a problem"
We did this to make the extraction easier to import into openpnm, but having these values hard coded in the network is a problem.  It would be better to leave these out then add the models in openpnm, even though this is a pain.  We should insist that people the proper import/export functions to get these models added.

[2020-02-12 19:59] jgostick opened #216 "Set boundary pore diameter to 0"
If we set the diameter to 0, then most/all of the conductance models in openpnm will set the value to inf, which is the correct behavior.

[2020-02-12 20:00] jgostick opened #217 "Update to_openpnm to delete extraneous data and set some values to 0?"
In addition to adjusting get_net, we could/should also ensure that the export to openpnm massages the data correctly.

[2020-02-12 20:02] jgostick opened #218 "What is the meaning of pore area anyway"
Pore area is poorly defined since it is directionally dependent and also varies with position in the pore.  This should be calculated using something like 'conduit_length' models in openpnm.  It IS used by the classic conductance models which assume the pore is actually a cylinder.

[2020-02-17 14:40] jgostick opened #219 "Add chunks argument to some functions to enable parallel processing?"
We have been experimenting with processing images in chunks using dask.  It seems to work very well, and we've already added a ``chunked_func`` to the dev branch, which allows users to pass in a normal function plus a padding and division argument to use dask.

Should we add an argument to some functions (e.g. fftmorphology for instance) like ``chunks`` which is set to ``None`` by default, but can

[2020-02-28 19:33] jgostick commented on #216
The downside is that we 'might' want to set a pore's conductance to zero inside the network, instead of deleting it, which could most conveniently done by setting diameter 0.  So this proposal violates this.

[2020-02-28 19:48] jgostick opened #221 "Move boundary pore centers to image faces"
as they are now, they are offset by 1.5 voxels.

[2020-03-09 05:17] ZHHYKU opened #222 "[Question] Visualize Output in Paraview"
I am a beginner and I am confused about how to visualize the vtp file in the example snow_basic.ipynb.  It seems other steps should be taken after importing the vtp file. Although it is an easy question，I failed to get the results showed on the website. Could you give me more details on those steps or some helpful documents? Thank you.

[2020-03-09 07:16] #222 closed

[2020-03-09 12:43] ma-sadeghi commented on #222
Hi @ZHHYKU I assume you figured it out yourself, or did you close this issue by mistake?

[2020-03-09 12:59] ZHHYKU commented on #222
@ma-sadeghi Yeah, I find a video on the YouTube,  and I think that could be helpful for the example mentioned above. Thank for your reply.

[2020-04-03 15:03] jgostick opened #224 "Fix github actions workflow to test notebooks properly"

[2020-04-04 02:15] ma-sadeghi commented on #224
Fixed in PR #228

[2020-04-04 04:07] ma-sadeghi opened #229 "Scipy 2 deprecation proofing"

[2020-04-06 19:54] jgostick opened #231 "Replace internal use of fftmorphology with edt <= R"
fftmorphology is great and fast, but consumes a TONNE of RAM.  I have already switched the RSA function to simply do a distance transform and threshold it at R, and I think we should search and replace all other instance of dilate and erode.  Note that the new edt package makes this even more useful since it's very fast.

[2020-04-07 12:00] tintinpallya opened #232 "New versions of skimage.measure.regionprops does not support values other than "rc" for the "coordinates" argument"
There is an issue with the "chord_length_distribution" metric function. When I tried the example for chord length distribution, I get the error shown in the image below related to the function skimage.measure.regionprops used in the code.

![image](https://user-images.githubusercontent.com/5710454/78666568-c6fd1d00-78d7-11ea-9064-0cf3ee70bf63.png)

I saw the other similar issue https://github.com/

[2020-04-08 02:24] jgostick commented on #172
I guess if the strel was a gaussian kernal it could do gaussian blurs.

[2020-04-08 02:24] jgostick commented on #81
This is actually fixed in PR #223

[2020-04-08 02:24] #81 closed

[2020-04-08 02:26] jgostick commented on #200
This is now fixed with PR #223, since you can set the numpy random number generator before calling the function.

[2020-04-08 02:26] #200 closed

[2020-04-08 02:26] jgostick commented on #224
This is fixed in PR #228

[2020-04-08 02:26] #224 closed

[2020-04-08 02:40] jgostick commented on #232
This is fixed in the dev branch, which we'll be merging to master VERY soon.  There are a few critical things we want to fix, pertaining to the network extraction code, and once that's done we'll release version 1.3.  In the meantime you can get the dev branch using git and github.

Download repo to a folder on your computer
Open conda prompt and navigate to that location
Uninstall the existing po

[2020-04-08 02:40] #232 closed

[2020-04-08 03:43] jgostick commented on #78
I think this is best handled by examples rather than dedicated functions.  For instance, one can use RSA to insert spheres, and each output a different number, or you could do blobs, then add spheres with RSA.

[2020-04-08 03:43] #78 closed

[2020-04-10 19:27] jgostick commented on #210
The setting should control things like:
* loglevel or verboseness of printout
* number of cores to use in parallelized functions
* etc

[2020-04-12 01:19] ma-sadeghi opened #235 "Conda recipe for PoreSpy"

[2020-04-16 13:50] jgostick commented on #173
This of course requires making one example for each function.  This is probably not as much work as it sounds like.  The example could explain a bit about how the function works behind the scenes, and refer to it's use in papers or at least inspiration (i.e. referring to Torquato's actual papers rather than his book, or referring to our papers where we used chord lengths)

[2020-04-16 13:54] jgostick opened #236 "Add integration test(s) for network extraction"
I want to rip a bunch of crap out of the ``get_net`` function, and generally renovate the network extraction pipeline.  To be sure things are still working as intended, this needs an integration test that extracts a network from an image and uses openpnm to estimate its transport properties.  These can be time consuming.  We are already doing this in a few of the notebooks, so maybe we can leverag

[2020-04-29 10:56] kleinerELM opened #237 "Integer overflow in _radial_profile in metrics\__funcs__.py"
I am just trying to use porespy and stumbled across an integer overflow error:

", line 332, in _radial_profile

It seems this is easily fixable changing line 325 in .\porespy\metrics\__funcs__.py from
`radial_sum = np.zeros_like(bins)`
to
`radial_sum = np.zeros_like(bins, np.int64)`

The error occured following [this example](https://porespy.readthedocs.io/en/master/getting_started.html#calculati

[2020-04-29 11:06] ma-sadeghi commented on #237
Hi @kleinerELM, can you share your image by any chance so I can reproduce the bug?

[2020-04-29 11:11] kleinerELM commented on #237
Sorry I forgot to attach it:

[C2-C3S 28d cryoBIB_004-cut.zip](https://github.com/PMEAL/porespy/files/4551299/C2-C3S.28d.cryoBIB_004-cut.zip)

[2020-04-29 12:06] ma-sadeghi commented on #237
I was able to run your script, except that I read the image using `imageio` library via
[code]
which I don't think should make a difference.

Can you post the exact error message you got? Also, what's your Python/porespy version?

[2020-04-29 13:24] kleinerELM commented on #237
I was using porespy 1.2.0, freshly installed using

Enviornment:
Win 10 Pro 1909
Python 3.7.2
numpy 1.15.4

Errormessage (stripped full folder paths):
[code]

And ideed, the value 9615212611.875 is assigned to the radial_sum[i] at one point. And since the radial_sum list only contains int32e (as the array bins, which dtype is used to initiate radial_sum), the value exceeds the data type.
And as al

[2020-04-29 13:48] ma-sadeghi commented on #237
I see. It's because on Linux. According to [this](https://stackoverflow.com/questions/36278590/numpy-array-dtype-is-coming-as-int32-by-default-in-a-windows-10-64-bit-machine) stackoverflow thread, the default `numpy.int_` is C long, but C long is `int32` even Win64.

Thank you for reporting this. We'll see what we can do to force `int64` as the default `int` type.

[2020-04-29 13:56] kleinerELM commented on #237
Okay, thanks for your fast response and the nice libary!

[2020-04-30 14:58] jgostick opened #238 "network extraction sometimes builds throats between non connected regions"
This was brought up by @magnaou, so I'm capturing it here.

[2020-04-30 16:19] TomTranter commented on #238
Could this be the same as #169 ?

[2020-04-30 16:29] jgostick commented on #238
Don't think so.  Mehrez found that two regions which are not physically connected are somehow getting connected.  Probably due to the use of a structuring element that overlaps two regions, or something to that effect.  They are all related though.  We have *quite a few* network extraction related issues to deal with.  The last year has provided a lot of stress testing and revealed the bugs.

[2020-05-02 22:48] jgostick opened #239 "Add an 'overlap' option to the subdivide function"
This could then be used in various other functions where chunking is used.

[2020-05-03 17:46] megavolts commented on #238
I encountered the same problem as @jgostick.

I found those throats are often significantly longer than all the throat length distribution (4+ standard deviation away from the mean). When filtering them out, I also found that often the 2 last throats in the array were randomly generated.

In addition, those throats are randomly generated. During my analysis, I looked at different vertical extend w

[2020-05-11 19:55] 1minus1 opened #240 "Parameters in generators.cylinders documentation are out of order"
Referencing: https://porespy.readthedocs.io/en/master/modules/generators.html#porespy.generators.cylinders

The function call has phi_max before theta_max, but the documentation has them reversed.

[2020-05-12 15:54] 1minus1 opened #241 "Cache parameters in regionprops_3D like scikit-image.measure.regionprops"
Currently, I think regionprops_3D calculates all structural parameters when it is called. I have a case where I only need bbox (which is offered by scikit-image.measure.regionprops). After digging, I solved this issue by reverting to scikit-image.measure.regionprops, and found that they cache all the properties and calculate them on demand rather than doing it all upfront, surely doing lots of unn

[2020-05-13 15:05] 1minus1 commented on #241
There is good discussion here on the topic of pushing porespy's 3D metrics upstream to scikit-image. https://github.com/scikit-image/scikit-image/issues/4679

[2020-05-13 15:53] jgostick commented on #241
Hi @1minus1.  I wrote the region_props_3D function back before scimage's version worked on 3d images, and I also did it in a bit of a hurry for a project that I was working on, so it's not exactly solid.  Ironically, the very next release of skimage had 3d capability, rendering my effort mostly wasted.  I never really finished or polished my version because of this.  For instance, I never figured

[2020-05-13 17:00] 1minus1 opened #242 "Proposal for including porosity input for porespy.generators.cylinders"
I the porespy docs, there appears to be a desire for a cylinders method that takes a target porosity as an input.

I've implemented a proposed function for doing this. In general, the approach is to roughly estimate the number of fibers that would be needed to reach the target porosity, test this estimate by probing with a small fraction of that, improving the estimate, and iterating.

One relatio

[2020-05-13 17:24] 1minus1 commented on #241
At this point, I don't need any changes to resolve my issue since what I need is in scikit-image. It sounds like the best approach would be to push the relevant metrics from porespy into scikit-image, and/or use the forthcoming user-defined property capability to extend what's needed in porespy (and maybe that will give you caching for free?). It sounds like there is willingness on their side to e

[2020-05-13 18:14] vasudevanv commented on #241
@jgostick Do you think it might be reasonable to rewrite the region_props_3D function to directly use more of the skimage API where applicable. I am thinking this would allow for flexibility to implement esoteric measures that porous material folks care about in the future within porespy and anything that can be generalized can be pushed upstream to skimage.

 @1minus1 and I can contribute as nece

[2020-05-13 19:28] jgostick commented on #241
I haven't looked at this function in ages, but I will try to take a look soon. The first thing I'll do is figure out how to 'defer' the calculation of our props.  Then we can address the duplications with the latest stuff in skimage.

[2020-05-13 19:30] jgostick commented on #240
Thanks, this one is easy to fix... unlike the regions props thing.  ;-)

[2020-05-13 19:31] jgostick commented on #239
Also, for some reason this function is not returning the slices as tuples, so numpy is complaining.  I'm a sure I fixed this, but I guess it was on a branch than was not pushed??

[2020-05-20 08:31] mdrkok opened #243 "backwards compatability with skimage 0.17"
The cord counts function uses corrdinates='xy' which has been depreciated in skimage and now throws a valueerror

[2020-05-20 13:11] jgostick commented on #242
I think slowing the function down by 5x is probably not a good idea :-(  Maybe we could put a little 'example' of how to get the correct porosity in the doc string?

[code]

[2020-05-20 13:16] jgostick commented on #242
Admittedly my way is crude because it doesn't catch the overshoot, so you'd have to reduce the number cylinders added each step if you wanted accuracy.  Should probably also print out the number of fibers added, so the user knows roughly how many are in there.

[2020-05-20 13:52] vasudevanv commented on #242
This is great! I like the while loop over the fixed pass number or iterating over a user specified pass number that I have now. I have been playing with is trying to have a user specified undershoot and overshoot tolerence and changing the n_fibers added in each iteration according to @1minus1 approach. But performance is currently not good.

[2020-05-20 15:25] 1minus1 commented on #242
Correction: The line in my code that was
`compare = ps.generators.cylinders(dims, rcyl, goal_poro,0,90)`
should be:
`compare = ps.generators.cylinders(dims, rcyl, total_n,0,90)`

The effect of this is that my proposed approach is "only" 2-3 times slower. I added your while loop method to the comparison, and it performs very poorly when there are a lot of fibers. The constant number of iterations a

[2020-05-20 16:26] 1minus1 opened #244 "Cylinders not randomly distributed in x-y plane from generators.cylinders"
Due to some property of how random fiber locations are selected, fibers are more likely to cross near the center of the x-y plane versus point closer to the edge. This code makes a structure, then calculates the porosity at each x-y location.

[code]
Results:
![image](https://user-images.githubusercontent.com/2090927/82471577-dd7cc380-9a94-11ea-9eb9-29943ebd32af.png)

A more dramatic example for a

[2020-05-20 17:30] 1minus1 commented on #244
One admittedly hacky workaround is to select a starting position for a fiber from a window much larger than the image. There is a chance that adding a fiber in this way won't actually add it to the region of interest (so the actual number of cylinders in the image will be less than the requested number) but the fibers are more randomly distributed in x-y.

in generators.cylinders
[code]

For
`im =

[2020-05-20 18:16] 1minus1 commented on #242
The angle arguments given to the function for the "compare" case were 45/45 rather than 0/90 which led to the porosity error for that method, and also made the time offset comparison incorrect. Fixing that, this is the correctly timed comparison. My approach is "only" 2-2.5x slower. The simple loop proposed above is as much as 55x slower.

![image](https://user-images.githubusercontent.com/2090927

[2020-05-20 19:58] jgostick commented on #244
Damn, I actually thought that I'd fixed this.  It's been quite a while, but I know that I used to have the above issue, and I felt like my implementation (the one currently in porespy) fixed it, but I guess not.  Hacky workaround is ok, but is there a proper rigorous way?

[2020-05-20 21:43] vasudevanv commented on #244
The sine and cosine normalization in lines 766-770 guarantee a uniform probability for each point within the box to be an origin point and the orientation of the fiber emanating from that point to have end points uniformly distributed on a sphere centered on the origin. But we clip the fibers to the box after this and the volumes of the intersection of spheres centered at each origin point with th

[2020-05-20 21:46] 1minus1 commented on #244
I think I understand why it's not uniform.

If I understand correctly, the way it is working is picking a random point in the box, random phi and theta in the specified range, and generating from there. What isn't guaranteed is that the points on the cylinder are uniformly distributed.

For any point (x1,y1,z1) that is the origin point for a cylinder of random orientation, there is a probability t

[2020-05-20 23:57] jgostick commented on #244
Yes you understand correctly, that is how I implemented it.  I played around with several ways to do it, but ultimately this was the only where I could come up with that let me pick random values of phi and theta within limited range to make anisotropic media.

I did consider do your proposed 'hacky' approach but I didn't want to expand the domain so much for speed reasons.

I don't understand wha

[2020-05-21 01:36] jgostick commented on #244
@1minus1 I implemented something close to your quick fix in PR #245.   The starting points are generated over a much larger region now.  I basically increase the region by the requested fiber length on all sides.  Anything more than that would be point less since the the generated fibers would not reach that actual domain.  I did this without actually creating a larger image, which is good.  The d

[2020-05-21 01:58] 1minus1 commented on #244
I mean that the origin points you start with are uniformly distributed throughout the volume, but the points that are added in the rest of the cylinder are not.

[2020-05-21 02:38] jgostick commented on #238
Hi @megavolts, I am not able to reproduce this error, in 2D or 3D.  Are you still willing to send me your data set?  You can email it to me at jgostick at uwaterloo dot ca.

[2020-05-21 12:33] 1minus1 commented on #244
The fix you put in PR #245 works well. Thank you!

For the same test case as above:
![image](https://user-images.githubusercontent.com/2090927/82558906-b11c8200-9b3c-11ea-9347-515be061ef5b.png)

and for

`im = ps.generators.cylinders([400,400,50],1, 10000,0,90,None)`

![image](https://user-images.githubusercontent.com/2090927/82558803-74e92180-9b3c-11ea-922b-d4eadb6cf3ac.png)

[2020-05-21 12:55] 1minus1 commented on #242
With PR #245 implemented, the performance trade-off is pretty minimal. The performance hit is the least when there are a lot of fibers, while the simple loop gets worse the more there are. At worst, the porosity goal algorithm is 2x slower, and that's a case that happens fast either way.

![image](https://user-images.githubusercontent.com/2090927/82560962-7288c680-9b40-11ea-86f6-d69fe651b0a3.png)

[2020-05-22 16:42] jgostick commented on #117
I fixed this in the PR noted above, but then reverted it because it broke stuff.  We still need to address this though, because pores centers are occassionally outside the region.

[2020-05-22 16:43] jgostick commented on #117
See #147 regarding the problem that arose with the previous attempt to address this.

[2020-05-22 17:36] jgostick opened #246 "Allow n-phase segmentation to work even one of the labels is missing"
If a user gives an image with labels of 0, 1, and 3, but specifies an alias list of {0: solid, 1: void, 2: water, 3: PTFE}, the function should still work, despite there being no voxels labelled 2.

The method should be flexible enough to handle this case, which could happen in automatic image processing scenarios, where the user expects there to be water but for whatever reason it is not present

[2020-05-22 17:53] jgostick commented on #217
The 'from porespy' IO class in openpnm already does all this, so it makes sense to trim it from here too.

[2020-05-22 18:02] jgostick commented on #168
After today's discussion, it would be preferable if the function could accept any numbers into the alias argument like {0: solid, 25: void, 127: binder}.  However, if this ends up being complicated, I think it's reasonable to expect users to preprocess their image to make the labels contiguous.

This is also relating to #246

[2020-05-22 18:10] jgostick opened #247 "General updates to snow_partition_n"
There are 3 issues with this function at the moment, so I'm opening this 'meta' issue to combine all into a single place:

1.  #168 Some images do not have contiguously labelled regions (e.g. 22, 98, 255).  It would be nice if the alias function could handle this, perhaps by detecting this situation and relabeling the voxels in contiguous order before processing?
2.  #246  Sometimes users may thin

[2020-05-22 18:12] jgostick commented on #244
I am going to merge this change into dev since you're ok with it.   I will close this issue now.

[2020-05-22 18:12] #244 closed

[2020-05-22 18:13] jgostick commented on #241
At a meeting today, we realized that maybe it's time to move to PoreSpy V2.0.  This would allow us to make some breaking changes, including removing many of the redundant values from this function.

[2020-05-22 18:13] jgostick commented on #240
This is fixed in PR #245

[2020-05-22 18:13] #240 closed

[2020-05-22 18:15] jgostick commented on #235
I believe this is now done.  PoreSpy and OpenPNM are both on Conda as of this morning.  @ma-sadeghi wants to add badges and installation instructions to the readme's, but this issue is basically done.

[2020-05-22 18:15] #235 closed

[2020-05-22 18:29] 1minus1 commented on #244
Thank you!

[2020-05-22 18:33] jgostick opened #248 "Compiled list of changes to the regions_to_network function"
When we originally wrote the ``regions_to_network`` function for PoreSpy we included some 'opinionated' decisions about what information should be included, like 'pore.diameter' should be the diameter of an inscribed sphere.  These decisions were based on the requirements of OpenPNM downstream.  In retrospect, we should have left the output of PoreSpy as 'pure' as possible and left to opinionated

[2020-05-22 20:04] vasudevanv commented on #229
Does this mainly concern the deprecation of NumPy functions exposed via the root SciPy namespace? I have switched over some of the references in a local copy of porespy that I have been playing with.

[2020-05-22 20:16] ma-sadeghi commented on #229
Yes. That'd be great if you could make a pull request @vasudevanv

[2020-05-22 22:20] vasudevanv commented on #229
I can do that. Just one question, for some reason I have not been able to get pytest to discover the tests on my machine. How do you run your tests?

[2020-05-24 01:45] jgostick commented on #217
This is actually not necessary if the regions_to_network function does it's job right.  In fact, I'm not sure this function is even needed.

[2020-05-24 01:45] #217 closed

[2020-05-24 01:46] jgostick opened #249 "remove to_openpnm function"
This function is not really needed now that there is a PoreSpy IO class in OpenPNM now.  I'm inclined to remove this.

[2020-05-24 02:33] jgostick commented on #242
Awesome. The example notebooks are failing for some reason, but once I fix that I'll merge the changes.  Maybe then you can fine-tune and streamline your function, and we can add do a PR if you're interested.

[2020-05-24 02:36] #229 closed

[2020-05-25 17:32] ma-sadeghi opened #253 "Improve IPython examples"
Since we currently treat IPython notebooks as integration tests - thanks to `pytest-nbval` - it's important to make examples such that testing can be done effectively.

Currently, `pytest-nbval` can't test figure outputs, but most out examples' outputs are matplotlib figures. This is OK, but we can improve the testing quality by simply sprinkling some meaningful print statements here and there suc

[2020-05-25 19:11] jgostick commented on #253
I just added yet more of these, because of deprecation warnings

[2020-05-26 13:23] Zohaib-Atiq commented on #246
@jgostick this has been resolved in porespy-private PR #13

[2020-05-26 13:28] Zohaib-Atiq commented on #168
@jgostick this has been resolved in porespy-private PR #13

[2020-05-26 13:32] Zohaib-Atiq commented on #247
@jgostick #168 and #246 has been resolved in porespy-private PR #13.
I am working on possible solution of #169

[2020-05-28 18:53] 1minus1 commented on #242
I have streamlined the function. I'll make a Jupyter notebook with the test above and submit a PR soon.

[2020-06-03 20:42] ma-sadeghi opened #255 "[Proposal] Add option to snow_partitioning to skip trimming saddle points or nearby peaks"
I know these two steps are basically what makes SNOW SNOW, but in some cases, it's beneficial to keep the regions over-segmented to better capture pore-scale physics. For instance, in network extract for the Nafion phase in fuel cell catalyst layers, we don't want to perform DNS, but using vanilla SNOW makes our Nafion representation too rough. It seems that skipping one or both of these steps (tr

[2020-06-03 20:43] ma-sadeghi commented on #255
What do you think @jgostick?

[2020-06-06 15:56] jgostick opened #256 "Add bar chart function to visualization that accepted named tuples from various metrics"
It would be handy if I could just pass the tuple from ``chord_length_distribution`` straight to a function and get a bar chart back.  It usually takes me a few minutes every time I start plotting a bar graph to remember all the options I like to set/adjust.

[2020-06-07 02:32] jgostick opened #257 "Replace 'direction' argument with 'axis' througout"
There are some functions, that accept ``direction='Z'``, particularly in the ``visualization`` function.  These should be replaced with ``axis=2`` for consistency.

[2020-06-15 19:28] 1minus1 commented on #255
I also wanted this, and found that that working around it was cumbersome. I implemented it, and made a PR: https://github.com/PMEAL/porespy/pull/258

[2020-06-16 00:15] jgostick commented on #255
But trimming saddle points is the whole point!  :-)  Actually using a gaussian blur also helps a lot, but saddle points were the 2nd most important part.  In fact, I would suspect that your extraction is over-segmented unless you remove these, so maybe triple check you really need to.  Especially in high porosity media.

[2020-06-16 21:50] ma-sadeghi opened #259 "Alias map in SNOW_N is sensitive to dtype: float/int"
It breaks when the passed alias dtype differs from that of the image, i.e. 1.0 vs 1

[2020-06-17 13:36] 1minus1 commented on #255
I agree that SNOW is likely best for high porosity media. My only point in using these options is to check against the simpler segmentation methods. My previous PR was set up incorrectly, so I've re-submitted as https://github.com/PMEAL/porespy/pull/260

[2020-06-17 18:16] ma-sadeghi opened #261 "Axes convention for SNOW boundary labels differs from that in OpenPNM"
SNOW: "left" and "right" are along the x-axis, whereas in OpenPNM they are along the y-axis.

@jgostick Was this on purpose?

[2020-06-17 23:22] jgostick commented on #261
Don't think so.  We should fix this in V2.  Zohaib may have done it to help things line up in paraview.

[2020-06-18 01:11] Zohaib-Atiq commented on #261
@ma-sadeghi @jgostick  I did it because it is aligned with paraview. I suggest we should update openpnm 'left' and 'right' as its seems to be a bug there. Paraview is like our default visualization tool.

[2020-06-18 18:15] ma-sadeghi opened #262 "Make porespy-examples repo private"
@jgostick

[2020-06-18 23:26] ma-sadeghi opened #263 "Interfacial area given by SNOW is wrong"
In `add_phase_interconnections` method, the array that is preallocated to store interfacial areas is of dtype `int`, and therefore the interfacial areas most of the times end up being zero (since voxel_size is often below 1 -> area is truncated to 0 because of `int` dtype).

`dtype=float` should be passed to the `zeros_like` method below to fix the problem.
[code]

[2020-06-19 00:22] Zohaib-Atiq commented on #263
@ma-sadeghi I have fixed this issue already. Once snow parallel will be merged this will be fine.

[2020-06-19 01:51] Zohaib-Atiq commented on #259
@ma-sadeghi  I passed `alias = {1.0: 'am', 2.0: 'elec'}` and it worked for me. Can you share SNOW_N code where you are passing this info.
Also I have changed _create_alias_map alot. I have checked in newer implementation also its working fine for me.

[2020-06-19 01:56] Zohaib-Atiq opened #264 "More precise labelling for snow_n and snow_dual algorithms"
`snow_dual` and `snow_n` return `pore.left` and `pore.right`, etc. but if we have two or more phases each phase should have unique boundary key. For example `pore.left_phase1` and `pore.left_phase2`, etc.

[2020-06-19 02:12] ma-sadeghi commented on #264
Is this necessary? Can't the user do `net.pores(["left", "phase_1"], mode="and")`

[2020-06-19 02:21] Zohaib-Atiq commented on #264
@ma-sadeghi net.pores(["left", "phase_1"], mode="and")? will give you `array([], dtype=int32)` because the throats are associated with `phase1` and not `pn.pores('left')`

[2020-06-19 19:34] ma-sadeghi commented on #264
:thumbsup I see, then I think it's definitely a nice thing to have as I'm already doing this manually for the catalyst layer PNM.

[2020-06-22 12:51] sara-madi opened #267 "Extracting the network using porespy"
I generated the artificial image coded in the "snow_advanced" and extracted the network using PoreSpy. I then used pickle to save the extracted network python dictionary as follows:

After, I used OpenPNM to load the network:

However, when I am assigning the boundary conditions, I am getting the following error:

I think the problem is that openpnm can't find the pores(left, right,..). How can I

[2020-06-22 13:03] jgostick commented on #267
You try to do ``print(net)`` and see what labels are available on your extracted network.  You can add your own boundary pores using [this example](https://github.com/PMEAL/OpenPNM/blob/master/examples/topology/Adding%20Boundary%20Pores.ipynb)

[2020-06-22 14:59] sara-madi commented on #267
My labels are as follows:

――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
1     pore.all                                      668
2     throat.all                                    3268
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
So, I should divide the total pores into other labels defined as: pore.left, pore.right, pore.bottom,

[2020-06-22 15:31] jgostick commented on #267
You can have labels applied during the extraction process...I think they should be applied by default actually, so I'm surprized they're not here.  You can also add them to the network using spatial info, so:

[code]

Where upper_lim and lower_lim are physical distances that you consider to be 'on the right or left face' of the domain.  For instance:

[code]

[2020-06-22 19:07] sara-madi commented on #267
The "Snow_Advanced" extracted network does not give the labels of the pores; however,  the older version of snow algorithm given the following example

extracts the network specifying the labels of the pores as left, right,...

[2020-06-23 19:33] jgostick commented on #262
Quick question: the reason we moved the examples INTO the main repo was so they would be tested at the same time as the main code.  Now that we have a lot more power with Actions, could we trigger a build of the porespy-examples repo from the main porespy repo?  For instance, if we setup porespy to automatically deploy to Pypi, could we also run the porespy-examples tests.  I looked into this befo

[2020-06-26 00:04] ma-sadeghi commented on #262
@jgostick In principle, this should be doable with Actions. But, do we really want to maintain a separate repository for examples? Especially that `porespy-examples` has been out of date for quite some time, so not sure if anybody is actively using it.

[2020-07-06 14:06] davidbhr opened #268 "Specify different voxelsize for each direction - snow algorithhm"
Hi,

I am trying to extract the pore size of collagen networks by using the snow algorithm. I was wondering if it might be possible to specify the voxelsize seperatley for the different directions instead of using the same value for x,y-, and z-direction? Thanks for the help and best regards, david

[2020-07-06 16:55] ma-sadeghi commented on #268
Hi @davidbhr, why don't you zoom your image to make it isotropic and then pass it to SNOW?

You can do this via
[code]

I think it's possible to modify SNOW to accept anisotropic voxel size, @jgostick knows more.

Btw, #71 is a related issue.

[2020-07-06 17:22] jgostick commented on #268
No, the functions do not support anisotropic voxels.  @ma-sadeghi's suggestion of using the zoom function is our only tool for this.  Sorry.  My only suggestion would be to set the ``order`` parameter to 0, so is does nearest neighbor interpolation instead some fancy and extremely time consuming spline stuff.  Assuming your data comes from FIB-SEM, you probably have x and y resolution of 1 nm and

[2020-07-06 17:22] #268 closed

[2020-07-07 09:19] davidbhr commented on #268
Hi @jgostick and @ma-sadeghi ,

Thanks for the quick reply, I am now using the zoom function to create an isotropic image stack. Since the voxel size in z-direction is only slightly higher compared to x,y, the interpolation works well and quick (images are derived from confocal reflection microscopy). Thanks for your help :)

[2020-07-07 23:55] jgostick commented on #263
This was fixed by #265

[2020-07-07 23:55] #263 closed

[2020-07-07 23:56] jgostick commented on #259
I have merged PR #265 so I think this problem is fixed on that PR

[2020-07-07 23:56] #259 closed

[2020-07-07 23:57] jgostick commented on #247
PR #265 is now merged and it fixes many of these.  Also, as @Zohaib-Atiq says, there are other changes in his private project

[2020-07-07 23:57] #247 closed

[2020-07-07 23:58] jgostick commented on #219
This is implemented in my PR #269

[2020-07-07 23:58] #219 closed

[2020-07-08 00:01] jgostick commented on #231
I think I've already done this, with the exception of a few locations where morphology is explicitly needed, like in mio.

[2020-07-08 00:01] #231 closed

[2020-07-08 00:01] jgostick commented on #246
Fixed in #265

[2020-07-08 00:01] #246 closed

[2020-07-08 00:10] jgostick commented on #262
done

[2020-07-08 00:14] jgostick commented on #198
done on PR #269

[2020-07-08 00:14] #198 closed

[2020-07-08 00:14] jgostick commented on #168
Fixed in #265

[2020-07-08 00:14] #168 closed

[2020-07-08 00:33] #172 closed

[2020-07-08 01:50] jgostick commented on #172
I started a PR for this, thinking it'd be easy, but it was not easy.  I am closing both.

[2020-07-10 19:21] megavolts commented on #238
@jgostick, Sorry for the belated answer. I just emailed you one of the problematic datasets.  Let me know if you have any questions.

[2020-07-11 03:51] jgostick commented on #238
OK, after having looked at your image, I have a feeling it is caused by 'lone' pores or bubbles.  I do not think the regions_to_network code has any special consideration for pores that have ZERO neighbors.  I am not sure how this would be handled exactly, but I am concerned that the code *assumes* each pore has at least one neighbor.  I will investigate further.

[2020-07-12 22:32] #262 closed

[2020-07-12 22:34] jgostick commented on #243
This seems to be fixed now

[2020-07-12 22:34] #243 closed

[2020-07-13 12:20] jgostick commented on #239
Done in PR #273

[2020-07-13 12:20] #239 closed

[2020-07-14 17:26] jgostick commented on #257
fixed in PR #271

[2020-07-14 17:26] #257 closed

[2020-07-15 15:53] ma-sadeghi opened #274 "[Feature Request]: Partial network extraction"
The idea is to only extract one (or more) labels and leave the rest of the voxels in the output as DNS.

[2020-07-16 16:50] jgostick opened #275 "Add padding arg to show_planes"
At the moment, the ``show_planes`` function calculates the padding to put between and around the images.  A custom argument would be helpful.

[2020-07-21 17:48] 1minus1 opened #276 "Method for increasing max_iters for saddle point removal with SNOW"
I am working with some large images (1000^3), and I am getting warnings that:

`Maximum number of iterations reached, consider running again with a larger value of max_iters`

This is happening in SNOW's call to trim_saddle_points, which has max_iters set to 200. There is no interface for increasing max_iters to complete saddle point removal, and the output network ends up giving errors during a s

[2020-07-21 17:55] jgostick commented on #276
It should not need that many iterations...it's probably a sign that something is not quite right with the image, or that the function is not handling something correctly.  I have been meaning to dig into that function anyway, to handle this issue better and to also work faster (i.e. with numba).

However, if you want to experiment with the parameter, you can call the individual steps of the snow p

[2020-07-21 18:29] 1minus1 commented on #276
It happens with fairly standard structures. Here's an example script. I tested this in the feature_skip_snow_steps branch, but it should give the same result in dev if you remove the last two arguments to SNOW. It complains about not enough iters for the 1000^3 structure, but not 100^3. For what it's worth, I think these images are fine. When network extraction completes, I have been able to repli

[2020-07-21 19:22] 1minus1 commented on #276
I created a branch where max_iters was set to 50000, and still was getting this result.

[2020-07-22 15:02] jgostick commented on #276
Ya, I suspect there is a condition other than the intended stop conditions that is screwing things up.  Can you perhaps try to pad the marker image with 0's on all sides?  I'm wondering if the makers are touching the edge of the image and that is the problem?  I probably can't dig into this for another week or two though, but once the summer semester is over, I can get on it.

[2020-07-22 16:12] 1minus1 commented on #276
There is the same effect when the source image is padded with zeros.

[code]

[2020-07-27 02:32] jgostick opened #279 "Add values argument to RSA"
It would be handy if the RSA function could put spheres with a certain value into the image, making the sphere super easy to find.

[2020-08-03 18:19] megavolts commented on #238
That idea crossed my mind at some point, but it would not be a systematic issue, as some 'lone' pores don't have that problem. Thanks for keeping investigating further, I will be more than happy to continue testing for you.

[2020-08-05 23:15] shirongpei opened #281 "Can i use my 3D volumetric data ?"
I have simulated 3D volumetric data in which the gray scale (1 for solid, 0 for pore) at each grid point (x,y,z) is defined

Can i import the data for pore feature analysis?

Thank you!

[2020-08-05 23:20] jgostick commented on #281
Yes of course!  I prefer to use ``imageio.volread`` to import 3d images like 'tif' images.  If your data is not in 'tif' format you should use imagej to open your data and convert to 'tif' images.

To study the pore phase you'll want to invert the image to set the pores to 1 and solid to 0, using ``im = ~im``.

[2020-08-05 23:32] shirongpei commented on #281
Many thanks for your prompt response. I really appreciated it.

I don't start from a 3D image or a stack of 2d images. Instead, i started from 3d volumetric scalar data, please see blow.
I guess there is a way to import the txt file?

Thank you!

# x, y, z, scalar
   1   1   1      0.00
   2   1   1      0.00
   3   1   1      0.00
   4   1   1      0.00
   5   1   1      1.00
   6   1   1      0.

[2020-08-06 00:03] jgostick commented on #281
Anything is possible.  Assuming your data is in a text file called 'data.txt':
[code]

[2020-08-11 01:54] jgostick commented on #281
@shirongpei ... did my suggestion work?  Can I close this?

[2020-08-11 01:55] jgostick opened #285 "Use oaconvolve for large images"
According to the scipy docs, ``scipy.signal.oaconvolve`` is faster than convolve for large images if the im and strel are significantly different sizes, which sounds a lot like our case.  This is a note to investigate.

[2020-08-13 23:45] shirongpei opened #286 "For the example of porespy/examples/networks/snow_basic.ipynb, how did you visualize spherical particle of different size"
using snow_basic.ipynb, i generated im.vti and extraction, vtp,

How to use extraction.vtp in paraview to show pores of different equivalent diameter?

Thanks!

[2020-08-14 00:18] shirongpei commented on #281
yes, worked perfectly. Thanks a lot

[2020-08-14 02:01] jgostick commented on #286
https://openpnm.readthedocs.io/en/master/getting_started/visualize_in_paraview.html

[2020-08-14 02:01] #286 closed

[2020-08-14 02:28] shirongpei opened #287 "How to visualize pores in spheres with esd?"
For the example of porespy/examples/networks/snow_advanced.ipynb

how did you add spheres of esd? How did you make it using paraview?

Thank you

![image](https://user-images.githubusercontent.com/49130449/90207322-cfd89080-dd9a-11ea-9749-483a2330e52d.png)

[2020-08-14 02:34] ma-sadeghi commented on #287
What do you mean by ESD?

[2020-08-14 02:35] shirongpei commented on #287
Thanks for your prompt response. ESD means equivalent sphere diameter. I think the size and color of those spheres are related to esd? thanks

[2020-08-14 02:37] ma-sadeghi commented on #287
If your question is "how to generally generate such figure using ParaView", then [this](https://openpnm.readthedocs.io/en/master/getting_started/visualize_in_paraview.html) might help. Let me know if it works for you.

[2020-08-14 02:40] shirongpei commented on #287
there is one vtp and one vti generated after running the code. The former is for the pore net work . I know how to use paraview. Just not quite sure, how did you visualize spheres when using paraview.

Thanks

[2020-08-14 02:45] shirongpei commented on #287
sorry, did not realize "this" is a link. Thanks

[2020-08-14 14:44] #287 closed

[2020-08-15 07:27] shirongpei opened #289 "A question about snow_basic.ipynb"
I run the code below and the result is attached.  It seems that i did not capture all the pores?

Thank you!

https://github.com/PMEAL/porespy/blob/master/examples/networks/snow_basic.ipynb

![Picture1](https://user-images.githubusercontent.com/49130449/90307725-de53a480-de8d-11ea-90ec-a4aa47890a26.png)

[2020-08-15 15:56] ma-sadeghi commented on #289
I just recorded a pseudo-tutorial on how to do this on [YouTube](https://youtu.be/gv7g1XlbF7U).

[2020-08-15 16:43] shirongpei commented on #289
I really appreciated your efforts. It worked. It turned out that the Under Masking the Gyph Mode should be "All Points".

By default it was "uniform distribution"

Thanks again!

[2020-08-15 23:24] ma-sadeghi opened #290 "Replace pep8 with pycodestyle"
Most recent pytest is incompatible w/ pep8 (last updated 2014, so no surprise).

[2020-08-15 23:56] ma-sadeghi commented on #289
No worries

[2020-08-15 23:56] #289 closed

[2020-08-16 02:35] ma-sadeghi commented on #290
Fixed in #291

[2020-08-16 02:35] #290 closed

[2020-08-16 19:40] shirongpei opened #292 "How to distinguish internal pores and pores at boundary?"
I run the example at  https://github.com/PMEAL/porespy/blob/master/examples/networks/snow_basic.ipynb

Please see below for the pore properties.

I am wondering if one can distinguish pore.internal and pore.boundary  and if so, how to retrieve diameters of both internal pores and pores at boundaries. So far, what i can do is print(pn['pore.diameter']) for all the pores.

Thanks!

Rongpei

print(pn

[2020-08-16 22:36] ma-sadeghi commented on #292
You should probably take a look at our OpenPNM tutorials located [here](https://github.com/PMEAL/OpenPNM/tree/dev/examples/tutorials).

In the meantime, let's say your boundary pores are labeled as "pore.boundary". You might find the following code snippet useful.

[code]

I'm not sure if this answers your question.

[2020-08-17 01:15] shirongpei commented on #292
Yes. it worked. Thanks a lot!

[2020-08-17 01:48] #292 closed

[2020-08-27 11:13] s60123685 opened #303 "Cannot import the package"
My environment:
Spyder 4.1.4
Python 3.8

I have successfully install porespy 1.2.0
However, I have received an IndexError when I import the package.

Below shows the error information:
_________________________________
Traceback (most recent call last):

  File "<ipython-input-3-d90270dc439c>", line 1, in <module>
    import porespy

  File "C:\Users\User\anaconda3\lib\site-packages\porespy\__init

[2020-08-30 01:11] jgostick commented on #303
try updating openpnm (a dependency of porespy). One of it's dependencies pushed some breaking changes, which we've since patched.  Do ``pip install --update openpnm``

[2020-08-30 01:11] #281 closed

[2020-08-31 07:41] s60123685 commented on #303
It works. Thank you very much.

[2020-08-31 07:41] #303 closed

[2020-09-21 09:18] alexeytopolnitskiy opened #305 "Error when importing"
Hello! I installed the library using pip install and then tried to import but the system returned me an error. I am working in Linux OS. Does anyone know how to solve it?

<img width="1059" alt="Снимок экрана 2020-09-21 в 12 16 48" src="https://user-images.githubusercontent.com/41486841/93750639-7880d800-fc04-11ea-845f-cd38ba48b3d0.png">

[2020-09-21 13:32] ma-sadeghi commented on #305
This seems like a `numpy` issue. Try updating your `numpy`. Btw, do you use Anaconda?

[2020-09-21 13:50] jgostick commented on #305
that would be terrible if they stopped maintaining edt...that package is essential.

[2020-09-21 14:45] ma-sadeghi commented on #305
I don't think so, I just successfully installed `porespy` on a fresh virtualenv on Linux. I've seen that error before, it's very likely coming from `numpy`. Upgrading (in rare cases, downgrading) `numpy` fixes the problem.

However, when trying to reproduce the error, I realized our `dask` version in `setup.py` is not quite right. For some reason, we need `dask[complete]` for `pip`, but `dask` is

[2020-09-21 16:16] ma-sadeghi opened #308 "Make the parallel SNOW, the default SNOW"

[2020-09-21 21:31] ma-sadeghi opened #309 "SNOW is consuming too much memory maybe?"
I just ran SNOW parallel on a 2000^3 image and it took 215GB of memory to complete. That seems to be a bit too high as storing a 2000^3 float array takes ~64GB, which is almost a quarter. It might be worth digging into it.

@Zohaib-Atiq @jgostick

[2020-09-21 21:39] Zohaib-Atiq commented on #309
@ma-sadeghi  are you using jupyter notebook to run you simulations? Also is 215 GB memory of output image or is this the maximum memory used while running the code?

[2020-09-22 01:00] ma-sadeghi commented on #309
No, terminal

No, it was very consistent, although initially it was much lower, but soon it skyrocketed to 200GB+.

[2020-09-22 01:04] ma-sadeghi commented on #309
One more thing I noticed: Even on a relatively small image, such as 1000^3, the memory usage skyrockets to 200GB+ if run on multiple phases (4 in my experience).

I don't exactly know the internals of SNOW, so I can't comment on whether or not this memory requirement is algorithmic, i.e. the algorithm can't do better in terms of memory efficiency. @Zohaib-Atiq @jgostick Any idea on this?

[2020-09-22 02:34] vasudevanv commented on #309
I have noticed this issue as well. Although in my case 1000^3 seems to run without problems on a machine with 192 GB RAM and lower sizes seem to be scaling as expected. But larger than 1000^3 the RAM skyrockets as observed by @ma-sadeghi

[2020-09-22 10:29] alexeytopolnitskiy commented on #305
Thanks for replies! I solved the problem by updating anaconda. It turned out that I had python 3.7 so I updated to the latest version of anaconda. Then I used **conda install -c conda-forge porespy** command and boom! Everything is working well. There is no error when importing.

[2020-09-22 10:29] #305 closed, assigned to nobody

[2020-09-22 12:24] ma-sadeghi commented on #309
@vasudevanv Are you doing single phase extraction?

[2020-09-22 12:53] Zohaib-Atiq commented on #309
@Amin are you using SNOW_parallel for multiple phase extraction. As far as I know It is currently for single phase. Are you doing any customization in snow_partitioning_n or you have separate custom code to extract multiple phases?

[2020-09-22 13:57] vasudevanv commented on #309
Yes, mainly single phase extraction. Tagging @1minus1 here.

[2020-09-22 15:07] ma-sadeghi commented on #309
That's why you didn't run out of memory for 1000^3. I did a 4-phase extraction and ran out of memory with 250GB RAM.

Yes, I'm using it for multiphase extraction. Basically, what I did is to replace the call to `snow_partitioning` with `snow_partioning_parallel` in `snow_partitioning_n` method.

But the memory issue is not bound to the parallel version, I also tried the regular SNOW and still ran

[2020-09-22 15:44] Zohaib-Atiq commented on #309
@Amin regular snow RAM consumption will be 7.5 times more than the input image memory.  So if your input image is 64 GB then it will take 64 * 7.5 = 480 GB ram to perform watershed segmentation. That's why regular snow cannot segment above 1250 *3 image. SNOW parallel on the other hand divides the image into 1000**3 or 500**3 chunks depending upon the value of div number. So if 64 GB image is divi

[2020-09-22 18:00] ma-sadeghi commented on #309
Is it 7 times for each phase? Also, is there a way to make it more memory-efficient? One more thing: The input image is boolean, so a 2000^3 image actually takes up 8GB, right?

[2020-09-26 15:58] miniminisu opened #310 "What is the return of pore_size_distribution"
It's difficult for me to understand the curve of psd.
![curve](https://user-images.githubusercontent.com/34959179/94344434-ff451300-0051-11eb-95a7-9c0a74a085a1.png)
There are some question botherd me:

1. Does the x-axis means pore size ?
2. What about the y-axis ?
3. Why does the y-axis value start at 1 ?
4. As the radius gets larger, why does the y-axis get smaller and smaller, and finally appro

[2020-09-26 16:17] jgostick commented on #310
The above curve basically tells you "the volume fraction of the void space that is filled by spheres of a given radius (in voxels)"  So it looks like if you use spheres of radius 9, you can fill about 50% of the void space, meaning the other 50% is too small to fit such a sphere.  It might help to imagine that this graph is generated from right to left, so larger spheres (i.e. 30 voxels) are inser

[2020-09-26 16:18] jgostick commented on #310
fyi, you can also convert the size to capillary pressure, meaning that low pressure are invaded first, so the above curve will increase from left to right.  The above result is analogous to mercury intrustion porosimetry.

[2020-09-27 04:39] miniminisu commented on #310
I get it. Thanks a lot!!!

[2020-09-27 15:37] #310 closed, assigned to nobody

[2020-09-30 21:07] ma-sadeghi opened #311 "Store image.shape as an attribute on the output network from SNOW"
This might be useful for calculation of effective properties of SNOW-extracted networks.

[2020-10-01 00:08] josephinoo opened #312 "What does that 40 mean in "sigma = np.mean (shape) / (40 * blobiness)""
What is the meaning of that 40 in "sigma = np.mean (shape) / (40 * blobiness)" for the media generation

[2020-10-01 01:13] jgostick commented on #312
It;s just a number I made up so that blobiness was more normal values (around 1)

[2020-10-02 05:51] josephinoo commented on #312
Thanks

[2020-10-02 05:51] #312 closed, assigned to nobody

[2020-10-05 09:17] alexeytopolnitskiy opened #313 "How to obtain number of pores in 3D?"
Hello!
I have a 3D model of a porous media. How can I estimate number of pores in this cube using PoresPy? And also, is it possible to obtain pore size distribution where each pore and its diameter are included (not like `porespy.metrics.pore_size_distribution` does, because it depends on number of bins). I mean for all possible pores and its diameter (smth like GeoDict does).
Thanks!

[2020-10-05 09:45] TomTranter commented on #313
You need to do network extraction - there are a few examples https://github.com/PMEAL/porespy/blob/dev/examples/networks/snow_basic.ipynb
https://github.com/PMEAL/porespy/blob/dev/examples/networks/snow_advanced.ipynb

[2020-10-05 09:47] TomTranter commented on #313
You can then also do simulations using our OpenPNM software https://github.com/PMEAL/OpenPNM

[2020-10-05 14:11] jgostick commented on #313
As @TomTranter says, the definition of a pore only applies if you do a pore network extraction to identify pores and throats.  But pore networks have some assumptions built in.  The purest estimation of the size distribution is the local thickness filter, binned as desired.  It's a statistical value after all.

[2020-10-06 07:27] alexeytopolnitskiy commented on #313
@jgostick @TomTranter Thank you for your replies! Now it is a bit understandable for me. If I got it right there are two ways of obtaining desired pore size distribution:
1. Take my model, extract network with `op.network.GenericNetwork()`, extract geometry with `op.geometry.GenericGeometry()` and then, using `geo["geometry"]` take values of pore diameters;
2. Or apply `ps.filters.local_thickness(

[2020-10-07 01:35] ma-sadeghi opened #314 "SNOW extraction with optional zoom for select phases"
The idea is to tell SNOW which phases to zoom and by how much. This is useful when dealing with multiphase images in which one (or more) phase(s) is low resolution.

A good example is fuel cell catalyst layers where the void and carbon phases are typically large blobs and therefore don't need that much zooming. On the other hand, zooming the Nafion films would substantially improve the network ext

[2020-10-14 14:35] ma-sadeghi opened #315 "Bug in SNOW algorithm when adding boundary regions"
Also relevant #238

[2020-10-15 11:29] ma-sadeghi opened #317 "Improving unit tests for network extraction functions"
Some of our methods are not properly being tested by our unit tests. I only skimmed through `test_network_extraction.py`, and it seems that we're not properly testing network extraction. From what I see, most of the time, we're only checking the shape of the output, whereas at the very least, I think we should check the values.

[2020-10-16 02:46] #315 closed, assigned to nobody

[2020-10-16 03:43] jgostick commented on #238
@megavolts I think we finally found this bug!  It was super subtle and not directly related to the apparent problem (long range connections).  Anyway, please download the latest dev and see if it helps.  When I run your image with the new version it looks good.

[2020-10-16 03:43] #238 closed

[2020-10-16 03:46] jgostick commented on #313
Sorry for the late reply.  If you want to do network extraction to get the 'stick and ball' representation, follow [these examples](https://github.com/PMEAL/porespy/tree/dev/examples/networks)

If you want to get the statistical info about pores sizes, use local thickness as described [here](https://github.com/PMEAL/porespy/blob/dev/examples/filters/local_thickness.ipynb)

[2020-10-16 03:46] #313 closed, assigned to nobody

[2020-10-21 20:31] hsafari68 opened #319 "regionprops_3D"
When tried to get the properties on a 3D carbonate image labeled by snow for a 600 by 600 by 150 volume, the function was very very slow and I got the following error every time and ofcourse a couple of other errors.
But when I tried the regionprops method in skimage, results were returned pretty fast without error.

Error:
QhullError: QH6013 qhull input error: input is less than 3-dimensional sin

[2020-10-21 21:14] hsafari68 commented on #319
It works on smaller subvolumes, but crashes on larger ones

[2020-10-21 22:32] jgostick commented on #319
Quite honestly, this function is a bit obsolete now.  I wrote it back before scikit-image had proper 3d support in this function.  Is there something specific you're looking for that is not in scikit-image?

[2020-10-21 22:33] jgostick commented on #319
also, that particular error means that the region is flat, like 2d...qhull does not like that.

[2020-10-21 23:52] hsafari68 commented on #319
I actually used regionprops_3D for 2D images and it worked quite well. It gave me a couple of other properties than skimage regionprops function like sphericity, but that's not a big deal.
What I liked was the props_to_DataFrame method that I used to convert all the returned proeprties to a data frame in Python, but unfortunately that also seem not to be working giving me the same errors as region

[2020-10-22 02:46] jgostick commented on #319
ok, I'm on it.  But first, are you sure that you just don't have an anomalous image?  Does it work as desired with other 3D images?

[2020-10-22 08:47] hsafari68 commented on #319
I would really appreciate it if you do because I have found porespy and openpnm very powerful packages in digital rock physics.
Actually I haven't tested it on other 3D images yet, but I did perform the same analysis on my image using the Avizo software and the same as skimage regionprops method, the results were returned pretty fast. At first, I thought maybe this is because my image is from a ca

[2020-10-22 09:00] TomTranter commented on #319
The line that triggered the qhull_error might need to pass qhull_options="QJ Pp". That's what I do for 2d convexhulls. Alternatively maybe some of the parameters for network extraction need tweaking to avoid over segmentation. Also if it's purely 2D then the region will be aligned with a boundary and probably is on the boundary itself so you could try padding the image after extraction with mode "

[2020-10-22 09:09] hsafari68 commented on #319
Actually, now that I'm thinking, I did the calculations on different subvolumes, and the regionprops_3D failed only on some of those regions. I am not sure but maybe there is something in those images that triggers the qhull_error.

I could share my 3D image with you if you want. Just give me an email address.

[2020-10-22 13:09] TomTranter commented on #319
Can you try my suggestion to pad it first then I'll have a look

[2020-10-22 14:27] hsafari68 commented on #319
I did pad my image by changing the mode to 'edge' in the source code. It gave me two errors, the first one is that skimage.measure.regionprops no longer supports coordinates. I fixed the first one. But then the second error popped up which is our friend "qhull_error."

[2020-10-22 20:02] TomTranter commented on #319
https://github.com/PMEAL/porespy/blob/dev/examples/networks/snow_advanced.ipynb
This tutorial gives you a step by step guide to the network extraction. If you run the snow algorithm it will do everything for you and accept all the defaults but if you go through step by step you might be able to find where things are going wrong easier. I suspect that the image contains rough features which are cau

[2020-10-22 21:48] jgostick commented on #319
Great news.  I finally got around to making our regionprops act like skimage, so it only generates the value on demand.  I was over thinking it BIG TIME.  I thought they were using like delayed dispatch to multiple cores and yadda yadda yadda but they just fill the the list with a bunch of object handles that have the functions as attributes.  I inherited their base class and added our own attribu

[2020-10-23 14:15] p-thomson opened #321 "MemoryError - PNM generation"
Hi all,

I think this is more of a hardware issue but I thought I would post it here as you may have come across it and may know of an alternative solution to upgrading my RAM. I am running the below script to generate a PNM from a 3D tif image. The image has 6 um voxel resolution and the domain is 1000x1000x3000 voxels. I am working on ubuntu and when I run the script I receive the following erro

[2020-10-23 14:46] jgostick commented on #319
Sooo, funnily enough, it turns out this qhull error is actually not coming from porespy's regionprops. If you pass the offending image into the skimage regionprops, AND request the convex_area of the offending region(s), you'll get the QhullError.  The reason you see it in porespy is that we actually executed the convex_area method for each region. (Note, my recent PR fixes this so that now it doe

[2020-10-23 14:50] jgostick commented on #321
Wow, that is an enormous image.  Which point does the error occur?  I have come across this before with Numpy, you have to tell it to use more ram, but I forgot the details of how to do this.

BTW, when using imageio, use ``volread`` instead of ``mimread``...you'll get a single 3D array back.  In fact, this may solve your problem, because I think imageio sometimes complains about this.

[2020-10-23 15:45] hsafari68 commented on #319
@jgostick  @TomTranter  I appreciate all the help and support you provided. And thank you @jgostick  for taking the time to fix this problem. I am certain that this will definitely solve the issue with my image. Thank you for the helpful instructions.

[2020-10-23 16:06] p-thomson commented on #321
Ah yes it is a big image - not what I usually use. OK so before using the _volread_ option it would fail at performing the distance transform. I have just tried it with a slightly smaller domain (834x834x3000) and it passed this stage and failed at a later stage - following trimming of the nearby peaks - "MemoryError: Unable to allocate 1.98 GiB for an array with shape (2121033600,) and data type

[2020-10-23 17:09] #319 closed, assigned to nobody

[2020-10-25 22:55] VolkerH commented on #319
Just came across this discussion. Probably too late now, but the upcoming version 18 of skimage will have an `extra_properties` argument, where one can pass in functions to be calculated on the regions. This offers an easy way to add attributes. https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.regionprops

[2020-10-28 12:47] p-thomson commented on #321
Update: I managed to generate the (834x834x3000) PNM on a workstation with 256 GB RAM, however it still produced a warning message - "Maximum number of iterations reached, consider running again with a larger value of max_iters". Do you know where I would find the option to increase the iterations?

[2020-10-28 13:07] TomTranter commented on #321
Hi @p-thomson this will be in the trim_saddle_points function which is called as one of the steps. You might want to look at this example to do things step by step individually https://github.com/PMEAL/porespy/blob/dev/examples/networks/snow_advanced.ipynb

[2020-10-28 13:12] p-thomson commented on #321
Thank you, I'll take a look

[2020-10-28 13:18] jgostick commented on #321
That message is not that important...and I find it usually means something is wrong with the image, like it was a greyscale image or was binary, but not in boolean form.

[2020-11-04 15:09] jgostick opened #322 "Rename radial_density to radial_distribution"
The term density comes from the statistical "probability density".  This functions takes a distance transform, which is really a distribution of radii, and computes the pdf and cdf of those values.  I propose to rename this to ``radial_distribution`` to indicate what it's analyzing, not HOW it's analyzing it.  This will also make it consistent with the ``chord_length_distribution``

[2020-11-12 20:13] ma-sadeghi opened #323 "Ambiguity in lattice_spheres arguments"
`lattice_spheres` accepts `offset` as an argument, which "actually" indicates the "spacing" between the spheres. I think it should still accept `offset` but should be interpreted as coordinates offset. So, for instance, `offset=0` means the center of the bottom-left most sphere is located at the edge of the image, whereas an `offset=radius` would be the current default mode.

[2020-11-16 22:22] ma-sadeghi opened #324 "Consider using relabel_sequential instead of make_contiguous for memory efficiency"
`make_contiguous` is as fast as `skimage.segmentation.relabel_sequential`, but it's memory inefficient. We should probably use `relabel_sequential` in `add_boundary_regions` as it turns out that's the memory bottle-neck (during a hands-on discussion with @Zohaib-Atiq)

[2020-11-18 03:04] xu-kai-xu opened #325 "Raising index error when extracting PNM using porespy"
Hi, I just start to extract a PNM from CT images (.raw format). During the processing, python raised the error **IndexError: too many indices for array**. The detailed traceback is
[code]
The CT images are sort of discrete.
![image](https://user-images.githubusercontent.com/44153643/99477641-e5f37f80-298d-11eb-8951-8604cf28efa8.png)
I am not sure what the problem is. Thanks for your help.

[2020-11-18 15:02] jgostick commented on #325
Hmmm, that is a tricky one.  It's odd that it all runs fine for several steps before breaking.

Firstly, are you extracting the network of the blue blobs, or the void space around them?  A network of the blue blobs won't be of much use since they all totally disconnected....you won't be able to run any simulations on that network.  Also, the flatness of the blobs will be a problem for the network

[2020-11-19 00:50] xu-kai-xu commented on #325
@jgostick, thank you, jeff. I want to extract pnm from the blue voxels. Surely they are disconnected. Actually, the blue voxels are more like fractures. But because the poor resolution of the CT, some tiny pores or fractures can not be shown. So, my plan is to extract the major fractures as pores, then add some artificial connectivities to the pores.
I also use the classical watershed method to pr

[2020-11-19 03:18] jgostick commented on #325
Hi @xu-kai-xu ... everthing seems ok, and if your image works on the opposite phase then as you say the format must be ok.  Instead of running ``ps.networks.snow``, have you tried running each of the steps separately, [as outlined here](https://github.com/PMEAL/porespy/blob/dev/examples/networks/snow_advanced.ipynb)?

[2020-11-19 03:32] xu-kai-xu commented on #325
thanks, I will try and update the progress.

[2020-11-23 14:08] kweishaupt opened #326 "DUAL-SNOW produces different void network, including spurious pore throats"
I have tried to extract a dual network from RAW data published here: https://www.digitalrocksportal.org/projects/11/origin_data/17/

I used ImageJ to crop the RAW data to 500^3 voxels, starting from (0,0,0) and saved the file as `nrrd` format.

Then I used the followign python script to run `poreSpy`(latest release):

[code]
Using `ps.networks.snow` yields a good-looking network:

![image](https:/

[2020-11-23 17:58] Zohaib-Atiq commented on #326
@kweishaupt I re-run your code with .tif format and It seems to work fine for both `SNOW` and `SNOW_DUAL`. May be there is something wrong in how you are reading the image. For your help I am attaching my script so that you can have a look why things are wrong for you.
[code]

SNOW OUTPUT:
![SNOW](https://user-images.githubusercontent.com/30351879/99997700-892c0680-2d8b-11eb-84d7-bc26d97cf12c.PNG)

[2020-11-23 18:35] ma-sadeghi commented on #326
@Zohaib-Atiq @kweishaupt Maybe it has to do with your `porespy` version. Please use the `dev` branch. Here's how you install it:

[code]

Make sure to remove your previous `porespy`.

PS. we recently addressed (PR #316) a bug in `porespy` where `SNOW` generated some spurious connections.

[2020-11-23 20:00] kweishaupt commented on #326
@Zohaib-Atiq @ma-sadeghi Thanks a lot for your super fast response!

I  removed `openPNM` and `poreSpy` using `pip uninstall` and re-installed the `git dev` versions instead.
Unfortunately, the problem persists, even after copy and pasting @Zohaib-Atiq's code.

My guess would be that I somehow messed up  cropping  the raw data.

I'm not familiar with ImageJ (or Fiji), so here is what I did on Ubun

[2020-11-23 20:49] Zohaib-Atiq commented on #326
@kweishaupt Can you use this script and check If you are getting desired results:

[code]

[2020-11-23 21:55] Zohaib-Atiq commented on #326
@kweishaupt I have reproduced the bug you were getting in `SNOW_Dual`. I have pushed a fix for it. You can use `snow_n` in above code for now to extract dual network which will give you the same network.
Once this fix is merged into `dev` you can use SNOW_Dual as well for your image.

[2020-11-24 09:25] kweishaupt commented on #326
@Zohaib-Atiq Thanks a lot for your suggestion with `snow_n` and thanks for the fix! That does work nicely in combination with the `nrrd` file.

There is still an issue with the difference between `raw` (or `tif`, red, cropped as described in your python code) and `nrrd` (blue, file created by ImageJ), which probably has nothing to do with `SNOW_DUAL` as it also occurs when only using `SNOW`

![ima

[2020-11-25 12:25] kweishaupt commented on #208
@jgostick @Zohaib-Atiq  Sorry to stir this up again, but I am encountering throat perimeters of zero (while the other throat properities look ok), both with and without `marching_cubes_area`. Is there anything I can do about that?

This is related to the data discussed in https://github.com/PMEAL/porespy/issues/326

[2020-11-25 14:30] jgostick commented on #208
Yes...delete them :-)  Some of the properties coming from boundary pores are not correct.  The new PoreSpy IO class in OpenPNM tries to fix them, but we need to the upstream problem in PoreSpy soon.

[2020-11-25 18:38] kweishaupt commented on #208
Thanks :-)

Just as a note: not only throats a the boundary are affected, but also interior ones.

[2020-11-30 09:38] kweishaupt commented on #208
@jgostick I think this issue occurs for internal throats with an cross-sectional area of just one pixel. Maybe one could assign `4*voxel_size` as an approximation.

[2020-12-09 21:11] jgostick opened #333 "Add a clearance argument to RSA"

[2020-12-28 00:10] jgostick opened #335 "add return_spheres argument to RSA"
It'd be nice if RSA could only return the inserted spheres, and NOT the original image.  I'm always having to remove the solids from the original image to get just the inserted spheres in isolation.

[2020-12-28 15:46] Abolfazlmsl opened #336 "Different extracted networks from a same image"
Hi, I extracted the network of an image successfully. but when I extracted the network from this image again, the network became a little different from the previous one. Why would this happen? and how I can extract a same network from an image in different running?
Thanks for your help.

[2020-12-28 17:15] jgostick commented on #336
This should not happen, but is almost certainly the result of changing versions somewhere in the software stack.  I assume that you're comparing two versions that have been extracted at different times?  If you're getting different results on exactly the same machine just minutes apart, then something odd is happening.  Can you clarify?  Also, how 'different' are things?

[2020-12-29 07:42] Abolfazlmsl commented on #336
Thank you Dr.Gostick,
No, I am using one version of Porespy (Porespy 1.2.0). I extracted the Berea sandstone network with dimensions of 400,400,10 several times but the porosity and permeability obtained differently from each other a bit. So, I sorted the pore and throat diameters of each extracted network in a file and saw two or three differences in the pore or throat sizes. Also, in the exporte

[2020-12-29 16:40] jgostick commented on #336
The only place that I can think of with randomness is the ``randomize_colors`` function, which is used to make "mix" the region colors up for easier visualization.  I will check to see if there is a bug in there.

[2020-12-29 16:41] jgostick commented on #336
Also, porespy is at version 1.3.1 now, so I suggest you upgrade.  We have squashed a few bugs, so maybe this problem will go away.  Can you try that asap and let me know if the problem persists?

[2020-12-29 17:28] Abolfazlmsl commented on #336
Thank you.
Yes, I checked the newest version today but the problem persisted.

[2020-12-30 18:47] Abolfazlmsl commented on #336
I set the randomize_colors=False and the problem fixes. Now all the extracted networks are same.

[2021-01-16 15:42] jgostick opened #342 "Add offset and spacing to lattice_spheres"
It would be nice if lattice_spheres accepted an ``offset`` argument that controlled how far from the image edges the spheres started, and ``spacing`` controlled`` how far from each other the spheres were.  It would also be awesome if these could be lists, indicating different values in each direction.

[2021-01-16 15:52] jgostick commented on #342
Also, the values should be relative to the sphere centers.  As it is now, it's quite hard to control as I want.

[2021-01-16 15:54] jgostick commented on #342
The keyword to control the structure is ``lattice``, but we use ``mode`` in so many other functions, I wonder if it'd be useful to use that instead (or as well?)

[2021-01-18 20:37] jgostick opened #343 "Is there a bug in find dt artifacts?"

[2021-01-25 00:20] #143 closed

[2021-01-25 00:23] #241 closed

[2021-01-25 00:23] jgostick commented on #241
This has actually been implemented in porespy now.  It was much easier to do that I thought.

[2021-01-25 00:25] #267 closed

[2021-01-25 00:28] #242 closed

[2021-01-25 00:30] #215 closed

[2021-01-25 00:30] #214 closed

[2021-01-25 00:30] #218 closed

[2021-01-25 00:30] #221 closed

[2021-01-25 00:31] #216 closed

[2021-01-25 00:37] jgostick opened #347 "Telecon Agenda for January 25, 2021"
* Status of Paraview export
* Status of DNS module
* Status of other PRs
* Moving to V2.0: Let's scan the [list of things we need to change](https://github.com/PMEAL/porespy/projects/2)

[2021-01-25 14:10] ma-sadeghi commented on #218
For future reference: in the most recent refactoring of OpenPNM shape factors (to be called size factors), we removed the `pore_area` module altogether.

[2021-01-25 15:16] jgostick opened #348 "Ensure consistency between filename, path, fname, etc args"
Also, all should accept strings, path objects, etc.

[2021-01-25 15:45] jgostick commented on #348
We already have a ``sanitize_filename`` function in the ``io`` module.  This should be enhanced to ensure it works for all funcs, and also hidden.

[2021-01-25 17:18] kweishaupt commented on #326
@jgostick @Zohaib-Atiq I think I stumbled across another case where even `snow_n` yields a different void network than `snow`.
If you want, I can send you the binary image and the script I used.

[2021-01-25 17:28] jgostick commented on #326
Cripes, sometimes it feels like the bug never end.  Please send the info.  Thanks!

[2021-01-25 17:37] kweishaupt commented on #326
[test_berea.zip](https://github.com/PMEAL/porespy/files/5868394/test_berea.zip)
Here are  the data.

I first extracted a "normal" network using

``` python  run_snow.py Berea_center_cropped_200_200.raw -r 5.345e-6 -v 200 200 200```

Then I extracted a dual grid with
``` python run_snow.py Berea_center_cropped_200_200.raw -r 5.345e-6 -v 200 200 200 -d```

Here is the result. SNOW, on the left, prod

[2021-01-25 19:07] kweishaupt commented on #326
I think the "extra throats" get removed by

[code]
For dual snow, they are not really "insular" because they have interconnect neighbors. However, I think they should not even appear at that position in the first place.

 What really confuses me is the different set of properties:
`pore.extended_diameter` and `throat.length` differ while the remaining properties seem to be the same at first glance

[2021-01-25 19:48] madeline-am opened #350 "hold_peaks should convert input image to float"
error if a boolean is passed, numpy reports can't subtract boolean images

[2021-01-26 01:43] jgostick opened #351 "chunked_func should deal with funcs that return a result of different shape than the input"
for instance, the convolve function can return an image wtih padding around the outside that breaks the chunking later on in the function

[2021-01-26 07:48] kweishaupt commented on #326
@jgostick Thanks for fixing the discrepancy between `snow_dual` and `snow_n`. However, I think the issue described above still persists. Sorry!

[2021-01-26 14:35] jgostick commented on #326
I merged a PR yesterday that was set to automatically close this issues, I didn't mean to close it.  I'll keep digging in to this.  Renovating porespy has moved to top priority now.

[2021-01-27 08:55] kweishaupt commented on #208
@jgostick Using the same dataset as described in my latest posts in  #326 ('snow' or 'snow_dual'), marching_cubes yields several pore throat areas of just one pixel for internal throats. Switching off marching_cubes yields more reasonable values:
![image](https://user-images.githubusercontent.com/74908731/105967068-bba4f900-6085-11eb-9451-c5178fc2ddb1.png)

area_mc = voxel_size*voxel_size =  (5.34

[2021-01-27 14:16] jgostick commented on #208
Marching cubes does not like small regions.  It's one of reason we used a 3-voxel thick boundary.  I guess it would be better to make the marching cubes function check for the region size, and return the 'basic' answer for those cases.

[2021-01-28 23:33] jgostick opened #353 "Enforce all funcs to only accept boolean masks for borders and boundaries"
For instance, trim_nonpercolating_paths accepts an inlet_axis and outlet_axis.  This is not always clear how it works, so I'd like to always and only accept boolean masks for things like this.

[2021-01-29 00:02] jgostick opened #354 "Ensure all tqdm progress bars are used with a context manager"
This prevents them breaking when the function ends unexpectedly.

[2021-01-29 00:30] #347 closed, assigned to nobody

[2021-01-29 00:36] jgostick commented on #343
There is not a bug, but [the example](https://github.com/PMEAL/porespy/blob/new_examples/examples/filters/find_dt_artifacts.ipynb) uses the `linear` distance transform rather than the standard euclidean distance transform.

The line:

`dt = ps.filters.distance_transform_lin(im, axis, mode = "reverse")`

should be replaced with:

`dt = spim.distance_transform_edt(im)`

[2021-01-29 21:51] jgostick opened #356 "Telecon agenda for Feb 8, 2021"
Discuss transition to Version 2.0.  I'm not really sure the best way to do this graceful.  I see two options:

Option 1:
* We make a ``V2`` branch, and start doing all the development and bug fix branches from that.
* We stop developing from the ``dev`` branch until the ``V2`` branch is done
* We merge ``V2`` into ``dev``, then resume life as normal
* Downside: This requires deciding which feature

[2021-02-14 01:42] jgostick commented on #343
Hey @madeline-am, can you ensure that you updated the example according to my comment above, and then close this issue when done?

[2021-02-14 15:17] #356 closed, assigned to nobody

[2021-02-14 16:31] jgostick commented on #274
Is like the 'hybrid network extraction' we've discussed?  If so, I have a PoC on a local branch.

[2021-02-14 17:16] jgostick commented on #279
Instead of this, I have added a ``return_spheres`` argument, so you can receive ONLY the spheres back, which accomplishes the same things.  See #335.

[2021-02-14 17:16] #279 closed

[2021-02-14 17:41] #322 closed, assigned to nobody

[2021-02-14 17:42] #212 closed

[2021-02-14 21:09] ma-sadeghi commented on #274
Yep.

[2021-02-14 22:19] #249 closed

[2021-02-15 01:26] jgostick opened #372 "perlin_noise is a pain to work with"
The perlin_noise function has the potential to be the next blobs, but it has a problem with accepting different size images.  This should be fixed.  Perhaps the image should be increased to the next possible size, then cropped back down?

[2021-02-15 14:35] ma-sadeghi commented on #372
It also doesn't respect numpy's random seed.

[2021-02-15 14:49] #333 closed, assigned to nobody

[2021-02-15 14:49] #335 closed, assigned to nobody

[2021-02-15 14:50] jgostick commented on #342
closed by #373

[2021-02-15 14:50] #342 closed, assigned to nobody

[2021-02-15 15:16] jgostick commented on #311
and voxel resolution too.

[2021-02-15 15:31] jgostick commented on #253
I'm not sure I agree with this actually.  The reason that we use the #NBVAL_IGNORE is because some functions output progress and other info about the function, which changes on each run.  So the test runs, it just doesn't check the output.  If the cell were to actually fail then the testing would notify us.  In fact, I think we could tell ``pytest-nbval`` to ignore ALL output by default since the

[2021-02-15 15:33] #323 closed, assigned to nobody

[2021-02-15 15:35] #275 closed

[2021-02-15 15:37] jgostick commented on #285
I've done some performance profiling on this and do not see any advantage.

[2021-02-15 15:37] #285 closed

[2021-02-16 04:42] #324 closed, assigned to nobody

[2021-02-16 04:56] #321 closed, assigned to nobody

[2021-02-16 14:40] #343 closed, assigned to madeline-am

[2021-02-17 00:03] #201 closed

[2021-02-17 00:03] #210 closed

[2021-02-17 00:03] #354 closed, assigned to nobody

[2021-02-17 00:43] #256 closed

[2021-02-17 02:51] #351 closed, assigned to nobody

[2021-02-17 18:05] jgostick opened #380 "Expose parallelization arguments?"
We have enabled dask chunked parallelization on several functions.  It's possible to trigger this if you know the magic keyword args to input, but it's not obvious (i.e. documented in the docstrings).  We should probably add this.

[2021-02-17 22:23] ma-sadeghi commented on #380
@jgostick How about controlling it in the settings? Either turn on parallelism for all methods or none.

[2021-02-17 23:17] jgostick commented on #380
meh, not sure about that.  You probably don't always want that.  Actually, you could do:

[code]

[2021-02-17 23:19] jgostick commented on #380
So we'd change the api to all functions to accept a ``parallel`` argument which is a dict containing the parameters, which *can* be retrieved from the settings where sensible default values live, or users can just pass in their own dict.

[2021-02-17 23:19] jgostick commented on #380
Alternatively, the argument could be ``parallel=True``, and if ``True`` then the function looks into the settings to get the parameters.  The trouble with this case is that you don't have fine control over the params on per function basis.  There may be a function that uses a lot of ram so you'd want cores =1, while a function that is just really slow you'd want cores=8.

[2021-02-18 00:52] ma-sadeghi commented on #380
Why is that? Are there cases where parallel execution is significantly slower than serial? I know that for small images, the overhead of parallel execution makes it run slower, but in those cases, the total execution time is small enough that the user won't even notice the difference. For large images, though, parallel execution should always be faster, isn't that the case?

[2021-02-18 00:54] ma-sadeghi commented on #380
I just read your last comment. For those functions with high memory requirements, when we chunk up the image, wouldn't that also linearly decrease the memory usage?

[2021-02-18 01:09] jgostick commented on #380
If you do chunks, but set cores to 1 it processes them serially. I needed to do this for some FFT based convolutions since they seem to create arrays in the background that consumed lots of memory.

[2021-02-18 03:01] ma-sadeghi commented on #380
I see your point. What I was trying to convey is that we should have good default values (maybe change default values for fft?) so that `porespy` is fast enough for most users, without having to manually decide what to pass for those arguments.

Like how `umfpack` is always using all cores w/o user explicitly defining the number of processes, while you can still use `umfpack` on 1 core by setting

[2021-02-18 14:13] jgostick opened #381 "Add parallel nl_means filter"
I have cooked up a version of nl_means that works on a per slice basis, and is parallelized.  The 3D version is ridiculously slow, and I surmised that the noise is not correlated between layers, which turned out to be correct.  The results were pretty solid.

[2021-02-22 14:52] ma-sadeghi opened #382 "Update Actions to accommodate the native support for "ci skip" by GitHub"
Also, make sure to reflect the changes I recently made to OpenPNM Actions (logger.sh, etc.)

[2021-02-22 21:54] jgostick opened #383 "extract_subsection could be aliased as depad or unpad"
The numpy ``pad`` function accepts positive pad values, but does not let you reverse the process by using negative values.  We have a function in porespy called ``extract_subsection`` that does this, but is requires a shape as input.  The means the shape of the original image must be stored before padding, for reuse later.  I would be ideal if was added augmented this to accept a padding argument

[2021-02-23 12:49] jgostick opened #384 "Persistent settings between sessions?"
This would be very helpful.  Nosql maybe?

[2021-02-23 22:11] ma-sadeghi commented on #384
What do you mean?

[2021-02-23 22:28] jgostick commented on #384
You might want to set some values different than the default, and have them repopulate the next time you start Spyder.  if we stored them in a nosql or sqlite database, we could load them each time.

[2021-02-24 20:17] imagejan opened #388 "Consider forum.image.sc as communication channel"
Hi there,

in your [`README.md`](https://github.com/PMEAL/porespy/blob/dev/README.md#stay-informed), I read:

I'd like to suggest you join the image.sc forum (https://forum.image.sc) as a community partner (see also the [FAQ](https://forum.image.sc/t/frequently-asked-questions/18729)). I am sure you would be welcome : )

[2021-02-24 23:21] jgostick commented on #388
Hi @imagejan
Thanks very much for this suggestion.  If you'd suggested it a few months ago I would have signed up instantly, but Github has recently added the [Discussion feature](https://github.com/PMEAL/porespy/discussions) which provides a stack overflow type Q&A functionality, as well as general Discussions. I think I prefer the idea of having all the code, issues, and Q&A in one place, and we

[2021-02-24 23:21] #388 closed, assigned to nobody

[2021-02-25 17:43] ma-sadeghi opened #391 "macOS Action failing due to (possibly) faulty paraview bindings"
Follow up [here](https://gitlab.kitware.com/paraview/paraview/-/issues/20507).

[2021-02-25 17:45] ma-sadeghi commented on #382
Fixed in #387

[2021-02-25 17:45] #382 closed, assigned to ma-sadeghi

[2021-02-25 18:15] ma-sadeghi opened #392 "Uncomment TestPyPI when deploying v2.0"

[2021-02-27 02:07] ma-sadeghi opened #393 "Improve ImageJ submodule to run in headless mode"
See [here](https://github.com/imagej/pyimagej/issues/102) for more details.

[2021-03-02 14:55] ma-sadeghi opened #396 "radial_density_distribution modifies the input image in place"

[2021-03-02 15:04] jgostick commented on #396
Agreed.  None of the functions should do that.

[2021-03-02 17:47] ma-sadeghi opened #397 "Add verbose key to settings dictionary"
We currently have the ability to disable `tqdm` progress bars, but occasional printouts are not yet controllable. I propose adding a verbose key to the settings dict that controls these printouts.

[2021-03-02 18:18] jgostick commented on #397
I would also like to consider using a proper logger. The loguru package might be fun...more featureful than the python one.

[2021-03-02 19:33] ma-sadeghi opened #398 "Rename double underscore names?"
I recently bumped into a PEP8 guide for naming convention, and it strongly discourages using double underscores other than those offered by Python (e.g., init, etc.).

https://www.python.org/dev/peps/pep-0008/#id36

We use these underscores quite often. `__imgen__` could be turned into `imgen`, for instance.

[2021-03-02 22:21] jgostick commented on #398
I'm not sure if pep8 applies to file names.  We used the double underscores because if we don't the module path becomes ``porespy.generators.imgen``.  If you can find a work around for this, then go for it.

[2021-03-03 13:43] ma-sadeghi opened #399 "More robust determination of notebook vs. terminal-based progress bar"
Need to replace this line:
https://github.com/PMEAL/porespy/blob/ec0b97a53d1e9c2f2e6cfaef2c86cdd1bc6bb033/porespy/__init__.py#L86
with:
[code]

This works fine with Jupyter Notebooks, Spyder IPython console and plain terminals.

Reference: https://stackoverflow.com/a/39662359/3438239

[2021-03-03 18:51] ma-sadeghi commented on #399
I just found out that getting the right `tqdm` is much easier. `tqdm` already has a function that returns the right instance:
[code]
Although I haven't tested it with Spyder.

Update: never mind, it doesn't work well with Spyder.

[2021-03-03 20:12] jgostick commented on #399
Ya, I had tried that before and it didn't work.  Too bad it's not fixed yet.

[2021-03-04 13:55] ma-sadeghi opened #400 "Enhance pseudo_electrostatic_packing output"
Currently, the image returned by `pseudo_electrostatic_packing` consists of many labels:
[code]
Was this intended?

[2021-03-04 15:30] jgostick commented on #400
Probably the best option is to ONLY return the particles.  Then the user can decide on how to piece it all together.

[2021-03-08 15:21] #176 closed

[2021-03-08 15:50] jgostick commented on #398
After consulting a few major packages it seems that all files should start with a single underscore. Also it's probably a good idea to use the ``__all__`` magic inside each file so the imports can be simplified to ``from ._blah import *``.

[2021-03-08 17:07] Ni2M commented on #350
I think the user should not pass boolean images as the input argument, as the function works with greyscale images. We could add more descriptions in function's docstring. However, for binary images as the input, the user can convert True,False to 1,0 using im.astype(int) before passing to the function. If more user-friendly options are desired, we could add a check at the beginning of the functio

[2021-03-08 17:25] Ni2M commented on #261
I think we fixed OpenPNM convention in https://github.com/PMEAL/OpenPNM/issues/1575 to right hand rule. It should be consistent now.

[2021-03-09 17:03] Ni2M commented on #193
It is a good idea. I think we can apply this idea on https://github.com/PMEAL/porespy/blob/dd5c2240a3a7d0da5a03f2338ae54b5b885e373a/porespy/filters/__funcs__.py#L626.

[2021-03-09 17:32] jgostick opened #404 "Move get_border to generators module, and rename to border"
This is technically a 'generator', so it'd be better placed in generators I think.

[2021-03-09 17:34] jgostick opened #405 "Change behavior of border (formerly get_border) so that edges means corners in 2D"
At the moment edges is interpreted to mean faces, which is more literal.  But functions that call this method would work better if edges and corners were equivalent in 2D.

[2021-03-09 22:33] ma-sadeghi opened #406 "Optimize porespy's import time"
Currently, the import time of `porespy` is ~2-3 seconds, this should be down to <1 second.

[2021-03-10 04:21] jgostick opened #407 "Added faces function for generating images for inlets and outlets"
Since we're moving to masks as indicators for inlets, we'll need a function to generate them.

[2021-03-10 04:56] jgostick opened #409 "Remove original add_boundary_regions function"
My new version, currently named ``find_boundary_regions2`` has a different API and is more flexible.  It's also vastly shorter so it easier to understand.

[2021-03-10 17:07] jgostick opened #410 "Unify snow extraction algorithms"
There should be only ONE ``snow`` method the ``networks`` module.  It should do single phase, two-phase and n-phase, depending on the arguments provided by the user.

[code]

* Looking at the current api of ``snow_partitioning_parallel``, we can drop some args: ``crop``, ``mode``, ``zoom_factor``
* We should change the ``overlap`` argument to ONLY accept an integer. The default should be ``None``,

[2021-03-10 17:42] ma-sadeghi opened #411 "Use dynaconf for package settings?"
https://www.dynaconf.com/

[2021-03-11 01:45] ma-sadeghi commented on #261
@Ni2M Could you please check if this is fixed? (please check w/ both OpenPNM and porespy). Feel free to close it if it is.

[2021-03-11 04:57] #397 closed, assigned to nobody

[2021-03-11 05:03] #400 closed, assigned to nobody

[2021-03-11 05:06] ma-sadeghi commented on #336
@Abolfazlmsl I'm closing this issue, if you have more questions, feel free to reopen.

[2021-03-11 05:06] #336 closed, assigned to nobody

[2021-03-11 17:29] ma-sadeghi opened #413 "Dask progress bars are not compatible with logging"
I removed Dask progress bars for now (in PR #414). A more permanent solution would be to wait for Dask to fix the progress bar upstream. See dask/distributed#3414.

[2021-03-11 19:25] Ni2M commented on #261
Sure.

[2021-03-11 22:15] Ni2M commented on #261
We fixed OpenPNM's problem to be consistent with right hand rule: https://github.com/PMEAL/OpenPNM/pull/1660, I checked OpenPNM with PoreSpy. Their front,back labels are not consistent. PoreSpy considers front with lower Y and back with higher Y
https://github.com/PMEAL/porespy/blob/de7020f576c45544af02fe51c1162cdbeb90afa6/porespy/networks/__funcs__.py#L434
, whereas OpenPNM considers back with lo

[2021-03-11 23:52] ma-sadeghi commented on #261
@Ni2M I think the approach used in `OpenPNM` is the correct one. Could you please look into `porespy` and create a PR?

[2021-03-12 00:22] Ni2M commented on #261
Thank you Amin. Right, both of them should follow right hand rule. Sure.

[2021-03-12 00:48] Ni2M commented on #261
Referring to https://github.com/PMEAL/OpenPNM/issues/1575#issue-655943861, based on provided right hand rule image, front face is at y<=0 (closer to the viewer's eyes) and back face is at y>0 (farther from the viewer's eyes) and that's similar to PoreSpy.  If we want to follow this image (right-hand rule) as a reference, I think I should change OpenPNM's approach on y axis instead.

OpenPNM's earl

[2021-03-12 02:03] ma-sadeghi commented on #261
@Ni2M Right, we should flip OpenPNM's front and back. Nice catch.

[2021-03-12 13:38] Ni2M commented on #261
Thanks. I will open a PR in OpenPNM.

[2021-03-12 21:49] Ni2M commented on #261
We are closing this issue. It is addressed in OpenPNM.

[2021-03-12 21:49] #261 closed

[2021-03-14 04:37] jgostick opened #417 "Loglevel setting should accept ints as well as names"
Like 10 = debug, 20 = info, etc

[2021-03-16 14:07] jgostick opened #418 "Big list of functions"
I love [this page](https://docs.scipy.org/doc/scipy/reference/ndimage.html) on the scipy.ndimage docs.  I actually have it bookmarked.  I would like to see something like this on the porespy docs.

[2021-03-17 16:04] javierpagalo opened #419 "What is the definition of blobs?"
I understand the function blobs is like a way to get porous media with a control in the particles or something like that.
But is there any theory behind these?
Is there a paper, book or scientific article related to the formulation?
I mean these lines:
 """
    blobiness = np.array(blobiness)
    shape = np.array(shape)
    parallel = kwargs.pop('parallel', False)
    divs = kwargs.pop('divs', 2)

[2021-03-17 16:20] #419 closed, assigned to nobody

[2021-03-18 15:06] puterd opened #421 "AttributeError: 'pore_size_distribution' object has no attribute 'LogR'"
Running the examples in metrics (porosimetry and thickness) I get the following error. Installed using conda and just running the example scripts. I had the same error loading my data and wanted to check if it was a general issue or not.

AttributeError: 'pore_size_distribution' object has no attribute 'LogR'

[2021-03-18 15:51] jgostick commented on #421
I think we may have changed it to lower case as part of our general overhaul to V2.0, which is not yet complete.  Try changing to 'logR'?

[2021-03-19 09:23] puterd commented on #421
That worked, thanks.

[2021-03-19 09:23] #421 closed, assigned to nobody

[2021-03-19 16:56] jgostick commented on #372
Just discovered a SUPERB package for generating fractal noise:  https://github.com/robbmcleod/pyfastnoisesimd

The usage is object oriented, as shown below.  Wrapping in the ``perlin_noise`` function would make sense, but we should make users aware of the actual package as well since it seems to be very powerful.

[code]

[2021-03-20 08:46] puterd opened #422 "TypeError: cylinders() got an unexpected keyword argument 'porosity'"
This may be related to the development of V2.0, but just checking. I was wondering how to change the code to generate the goal porosity in the cylinders example.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-2-8733d7d79505> in <module>
     10
     11 # Generate image by provid

[2021-03-20 11:43] jgostick commented on #422
Can you put which version of porespy you were using?

[2021-03-20 12:57] puterd commented on #422
Sure, the output of pip show in the notebook is:
Name: porespy
Version: 1.3.1

[2021-03-24 03:25] jgostick opened #425 "Move boundary pores to image edge"
At present they are 1.5 voxels outside the image

[2021-03-24 15:17] jgostick opened #426 "Use `fmm` to find perimeter of throats"
We currently use the marching_cubes method to get more accurate surface area values.  It got me thinking that throat perimeter could/should be done more accurately too.

* Find the 3D image containing the two neighboring regions.
* Identify the throat voxels shared by the two regions (this is already done in getnet)
* Find the perimeter voxels with dt < 2
* Perform fast marching on this from a ran

[2021-03-24 15:51] jgostick commented on #48
The main thing required here is to use some of the 'perimeter' functions in skimage which only work on 2D regions.  These values would be analogous to the surface mesh calculations in 3D.  For instance, throat 'area' would be the perimeter of the two regions minus the perimeter of the combined regions (x2) since the throat area is counted twice (once for each individual region).

[2021-03-24 16:32] jgostick commented on #97
Having given this some thought, here is my view.  Although large throats break the pnm paradigm (sort of), they are not necessarily unphysical.  There are for sure cases where the pore flattened so it's diameter is small, the throat can be wide.  Setting this situation as 'invalid' is not fair.  Luckily, openpnm now has a new set of conductance models that can deal with this.

There are a few case

[2021-03-24 16:32] #97 closed

[2021-03-24 19:55] jgostick opened #427 "get_mesh function has gone missing from metrics"
This is a useful function, since there are a few nuances about getting a mesh from a voxel image (namely blurring the edges), so it's worth re-adding.

[2021-03-27 15:36] #353 closed, assigned to nobody

[2021-03-27 15:36] #404 closed, assigned to nobody

[2021-03-27 15:36] #405 closed, assigned to nobody

[2021-03-27 15:36] #407 closed, assigned to nobody

[2021-03-27 15:48] jgostick opened #429 "Use trimesh to compute the volume of pore regions"
If we're going to run marching cubes on a region, we might as well use the mesh to it's fullest extent.  The trimesh package has lots of fun things that can be done with a mesh.  Find the volume and area are obvious, but also find the convex hull of the region, for which the volume can be found.

[2021-03-29 02:07] jgostick commented on #326
I think I have found another bug that may be responsible for this.  For some reason the ``snow_partitioning`` function does not actually label ALL the void space.  There will be small pockets (usually isolated) that do get a region label.  When the additional watersheds (for phase 2+) are added to the previous ones, these pockets are are given a region number when we bump the region numbers of the

[2021-03-29 02:09] jgostick commented on #321
Note that there was also an issue in the ``make_contiguous`` function.  I had been making too many copies of the arrays for the sake of speed, but the memory ballooned.  We now use the ``relabel_sequential`` function from skimage under the hood, so things are still as fast, but use much less memory.

[2021-03-29 02:10] jgostick commented on #314
I'm going to remove this from our list of urgent network fixes, since it's a nice to have, not a must have.

[2021-03-29 02:11] #325 closed, assigned to nobody

[2021-03-29 02:58] jgostick commented on #117
I think center of mass is the best/only option. centers based in dt are not always in the center, such as in regions that are square like boundaries.

[2021-03-29 02:58] #117 closed

[2021-03-29 03:00] #236 closed

[2021-03-29 03:06] jgostick commented on #169
I just came across this issue myself.  i have done a drastic overhaul of the snow funcs and this is now caught at the multiphase extraction level.  it still happens in the watershed function though.  i have added a comment to the code and will open up a more concise issue.

[2021-03-29 03:06] #169 closed

[2021-03-29 03:10] jgostick opened #430 "watershed (snow_partitioning) doesnt always label all regions"
I'm guessing that markers are not found in these regions so they are not labelled.  I have put a comment in the code with a possible fix, but need to confirm this indeed solves it.

[2021-03-29 03:14] jgostick commented on #309
i think this is related to the ``make_contiguous`` func which we've now fixed

[2021-03-29 03:14] #309 closed, assigned to nobody

[2021-03-29 03:16] jgostick commented on #255
this is not necessary since you can just call each function separately

[2021-03-29 03:16] #255 closed

[2021-03-29 03:18] jgostick commented on #276
this is not necessary since you can just call each function separately.  i will still look into the function to see if i can figure out why it happens in the first place.

[2021-03-29 03:18] #276 closed

[2021-03-29 03:21] jgostick commented on #264
this now works on the new branch.

[2021-03-29 03:21] #264 closed

[2021-03-29 03:27] jgostick commented on #308
this makes sense.  i'm going to add this to the new ``snow2``.

[2021-03-29 03:27] #308 closed, assigned to nobody

[2021-03-29 04:24] jgostick commented on #410
i did this in a BIG way in PR #424

[2021-03-29 04:27] jgostick commented on #372
fixed in #423

[2021-03-29 04:27] #372 closed, assigned to jgostick

[2021-03-29 04:28] jgostick commented on #418
@ma-sadeghi has cooked up some new docs that look super, and include this clean list

[2021-03-29 04:28] #418 closed, assigned to nobody

[2021-03-29 04:35] jgostick commented on #384
this is more trouble than  its worth.

[2021-03-29 04:35] #384 closed, assigned to nobody

[2021-03-29 13:04] TomTranter opened #431 "python version on porespy.org says 3.6+ supported but github says 3.7+"
A student of mine tried running in 3.6 and couldn't import. Probably want to update the website.
Thanks

[2021-03-29 15:30] jgostick commented on #431
I've seen some packages have badges that list the compatible python versions...might be helpful.

[2021-03-29 22:42] ma-sadeghi opened #432 "Rename visualization to viz/vis?"

[2021-04-01 19:12] #399 closed, assigned to nobody

[2021-04-02 06:33] ma-sadeghi commented on #431
It seems that adding a badge is as easy as generating a link using this website: https://shields.io/category/platform-support
It only requires defining supported Python versions in `setup.py` as:
[code]
Also, it won't generate a badge until the next release (it looks up `pypi` for such info).

[2021-04-02 06:52] ma-sadeghi commented on #431
I just added the OS and Python version description to setup.py, but it won't appear until our next release.

TODO: Before the next release, make sure to add the badge to README.
TODO: also, tidy up setup.py using https://setuptools.readthedocs.io/en/latest/userguide/package_discovery.html

[2021-04-02 18:03] jgostick opened #434 "actions remove CNAME each time it deploys a new set of docs"
I was wondering why I had to keep resetting the domain name in the settings.  It gets deleted by the deploy documentation action.

[2021-04-03 11:12] ma-sadeghi commented on #434
Fixed in 60390ec14be0a246bfd151c8e0879c81ebde22fe

[2021-04-03 11:12] #434 closed, assigned to nobody

[2021-04-05 04:12] jgostick opened #437 "Add a colorful montage to the new home page"
It's a bit odd that a package dedicated to 'image' analysis has exactly zero images on the home page.  A 2x2 or 3x3 panel of highlights seems needed.

[2021-04-05 12:36] dingyineversad opened #438 "Why did the two_point_correlation function doesn't work on my own images?"
My own images are tiff files,when I use your  two_point_correlation function ,it always show me the wrong results.But when I use the generators function first,then to use  two_point_correlation function ,it seem to be right.
Thank you very much for your help! @vasudevanv @arfon

[2021-04-05 12:55] jgostick commented on #438
Please post your image file.  Nothing too large, just the minimum that will reproduce the problem.  Also, no need to mention people to get their attention, just post here is enough.  Beside, neither of the people you mentioned are porespy devs.

[2021-04-05 13:13] dingyineversad commented on #438
Much to my regret，I'm a newcomer on github.
Thank you,professor,I just look up to a solution to upload my images,but failed.
But this one is similar to mine(<3mb)
[https://github.com/LukasMosser/PorousMediaGan/tree/master/data/berea/original/raw](url)

[2021-04-05 13:14] dingyineversad commented on #438
Again ,thank you very much!

[2021-04-05 13:17] jgostick commented on #438
I suspect your image is the problem, so please post an actual tiff file that you know to not work.  You can just drag and drop (see text below the comment field)

[2021-04-05 13:30] dingyineversad commented on #438
This is my image
[rec_003jutest.zip](https://github.com/PMEAL/porespy/files/6258351/rec_003jutest.zip)

[2021-04-05 13:31] dingyineversad commented on #438
![image](https://user-images.githubusercontent.com/77733099/113579039-4f7edc80-9656-11eb-9ddc-d920b18c7911.png)

And this is my results

[2021-04-05 13:32] dingyineversad commented on #438
Thank you for your help!

[2021-04-05 14:47] Ni2M commented on #350
The issue is addressed in PR#415 and merged.

[2021-04-05 14:47] #350 closed, assigned to Ni2M

[2021-04-05 14:49] jgostick opened #439 "Ensure consistency between radius and r throughout"
some functions take radius, others take r

[2021-04-05 14:51] #248 closed

[2021-04-05 14:59] jgostick commented on #311
This is a problem, but this is probably not the best solution.  We need to find a better way to determine network shape in openpnm.

[2021-04-05 14:59] #311 closed, assigned to nobody

[2021-04-05 17:14] jgostick opened #443 "remove array_split from deps"

[2021-04-05 18:52] jgostick opened #445 "Add geometric tortuosity function to metrics"
...as described by Fu and Li in a recent review article.

[2021-04-06 01:43] ma-sadeghi opened #448 "Parallelize examples CI Action using pytest-split"
Here's an article explaining how to do it: https://blog.jerrycodes.com/pytest-split-and-github-actions/
Also, here's a link to the repo for pytest-split: https://github.com/jerry-git/pytest-split

[2021-04-06 01:55] jgostick opened #449 "Remove show_3D from all examples"
...except for the ``show_3D`` example of course.

These are far too slow and consume a lot of the CI build time/power.

[2021-04-06 01:58] jgostick opened #450 "Remove the show_docstring call in all examples"
This is too messy and not needed any more

[2021-04-06 01:58] jgostick opened #451 "Call ps.visualization.set_mpl_style at the top of each notebook"
This will make the graphs look much nicer.

[2021-04-06 02:00] jgostick opened #452 "Ensure all notebooks run reasonably fast"
Try to avoid using 3D images unless necessary.  Use 100-cubed if 3D is necessary.  Use blobs to generate sample images since its faster than things like RSA and cylinders.

[2021-04-06 02:01] jgostick opened #453 "Use meaningful headings and subheadings in all notebooks"
The heads get scraped and used in the TOC in the new docs so they must be well thought out.  Also, there is a hierarchy to these, so make sure they are well organized (# vs ## vs ###, etc)

[2021-04-06 02:02] jgostick opened #454 "Add notebooks for the visualization folder"
I have added the folders, but there are no notebooks yet.

[2021-04-06 02:04] jgostick opened #455 "Add an automatically generated link to download the notebook from which the html was generated"
Not urgent but would be nice.

[2021-04-06 02:15] jgostick opened #456 "General flow of each notebook"
I think that each notebook in the how-to sections should have a common theme/flow, like:

- Import packages
- Generate test image
- - Show image
- Apply function with default arguments
- - Show result
- Explore other parameters
- - Show printout of docstring
- - Demonstrate each argument

[2021-04-06 02:18] jgostick commented on #449
It is possible to open images in paraview and render them in glorious 3D with ray tracing.  This can't be done from within a notebook, but would be possible to do offline, then link to an image on dropbox or imgur from the notebook.

[2021-04-06 02:20] jgostick commented on #452
Incidentally, using blobs in examples will remedy the problem of applying filters to the spheres instead of the voids.

[2021-04-06 02:39] jgostick opened #457 "Remove howto's for functions that have a detailed tutorial"
It's probably redundant to have one of each.

[2021-04-06 05:45] dingyineversad commented on #438
![image](https://user-images.githubusercontent.com/77733099/113664304-1a1dd180-96de-11eb-9011-c2e4a1b9b62c.png)
I solely test this by the "two_point_correlation_fft"way, and this seems no problems.
I am even more confused

[2021-04-06 11:15] ma-sadeghi opened #458 "Get rid of #NBVAL_IGNORE_OUTPUT from notebooks"

[2021-04-06 11:20] ma-sadeghi opened #459 "Use matplotlib consistently"
There are mainly two approaches for plotting using `matplotlib`.

[code]
and
[code]

Both are valid, but we should avoid mixing them. I recommend the latter, but either way I think it should at least be consistent throughout the docs.

[2021-04-06 13:19] ma-sadeghi opened #460 "Add semicolon ";" at the end of each cell to suppress matplotlib's objects"
For instance,
[code]

[2021-04-06 13:20] jgostick commented on #438
The image you sent me is an 8-bit integer format with 255 and 0.  I think 255 is the solid phase and 0 is the void phase.  To apply the 2-point correlation you need to do:

[code]

[2021-04-06 13:23] #438 closed, assigned to nobody

[2021-04-06 13:24] jgostick commented on #437
This is now done on the ``add_examples`` branch

[2021-04-06 13:24] #437 closed, assigned to jgostick

[2021-04-06 13:25] jgostick commented on #422
I'm going to close this since it's an issue with different versions.  We have unit tests and examples that cover this function so I'm fairly confident that it's ok.

[2021-04-06 13:25] #422 closed, assigned to nobody

[2021-04-06 13:56] ma-sadeghi opened #461 "Remove empty cells from notebooks"
Some notebooks contain empty cells, which should be removed.

[2021-04-06 13:57] ma-sadeghi opened #462 "Consistent capitalization throughout examples"
Currently, for notebook headings/subheadings, there's a mix of "capitalize only the first word" and "capitalize every word". I suggest we stick with the former.

[2021-04-06 14:21] jgostick commented on #457
On second thought...it's ok to have redundant examples, since they each focus on a different level of understanding

[2021-04-06 14:21] #457 closed, assigned to madeline-am

[2021-04-06 14:23] dingyineversad commented on #438
![image](https://user-images.githubusercontent.com/77733099/113726134-8de3cc80-9726-11eb-8be4-8b53de0a8490.png)
Thank you very much,but I have no idea what went wrong.This is my result and seems not exactly right.

[2021-04-06 14:25] dingyineversad commented on #438
And this is the result accroding to  the documentation in porespy (after use the picture convert code)
![image](https://user-images.githubusercontent.com/77733099/113726682-05b1f700-9727-11eb-9126-5bc14e856205.png)

[2021-04-06 14:43] jgostick commented on #438
why is this not right?  It's only doing 4 distances because your image is very small.  After we do the fourier transform we need to extract the results at different radial positions in the fourier domain, so we draw circles of radii [1, 2, 3, etc].  Your image is so small that it only fits 4 circles then stops.

[2021-04-07 00:23] dingyineversad commented on #438
Oh, I see...Thank you very much

[2021-04-07 01:15] jgostick opened #464 "Remove readthedocs badge from readme"
Probably don't need to replace it with anything?

[2021-04-07 19:56] ma-sadeghi commented on #393
We've also forced unit tests to only run for Windows. This should also be removed once this issue is dealt with.

[2021-04-08 11:26] ma-sadeghi opened #466 "Parallelize unit tests"
Similar to PR #463, but for unit tests. Not urgent though, as our unit tests are still manageable.

[2021-04-08 13:53] ma-sadeghi opened #467 "Consistent figure size across examples"
Currently, the figures are a bit too large. I'd say let's go with the default size, i.e., not setting `figsize` at all, except for multi-line/column figures.

[2021-04-08 15:33] #448 closed, assigned to nobody

[2021-04-09 00:56] ma-sadeghi opened #469 "Paraview is officially "unsupported" for Windows (indefinitely)"
It seems that they've given up shipping it for Windows.

https://github.com/conda-forge/paraview-feedstock/issues/121

[2021-04-09 01:30] jgostick commented on #443
closed by PR #468

[2021-04-09 01:30] #443 closed, assigned to nobody

[2021-04-09 01:33] jgostick commented on #427
apparently it was moved to tools and renamed mesh_region